## To look at sections of the YAML file:

In [1]:
# import yaml

# with open('/Users/anneitrheim/PycharmProjects/Capstone/confs/config.yaml', 'r') as stream:
#     try:
#         data_loaded = yaml.safe_load(stream)
#     except yaml.YAMLError as exc:
#         print(exc)

In [3]:
# import pandas as pd
# df = pd.DataFrame()
# for i in data_loaded['extractors']['universities']:
#     if type(i) == list:
#         df = df.append(pd.Series(i), ignore_index=True)
#     else:
#         df = df.append(pd.Series(i), ignore_index=True)

In [19]:
# df.columns = ['one', 'two', 'three']
# df.head(6)

## For word2vec on the resumes we have in our repo:

In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/output/resume_parsed.csv')
df.drop(['extension'], axis=1, inplace=True)

In [10]:
import nltk
# nltk.download()
from gensim.models import Word2Vec
import multiprocessing
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
import sys

In [11]:
stop_words = set(stopwords.words('english'))
import re
   
def remove_stop_words(x):
    try:
  
        x = x.replace('___',' ')
        x = x.replace('\n',' ')
        x = x.replace('\r',' ')
        x = x.replace('\t',' ')
        x = x.replace('\s',' ')
        x = x.replace('   ',' ')

        x = re.sub('[^A-Za-z ]+', '', x)
        
        word_tokens = word_tokenize(x)
        filtered_sentence = [w for w in word_tokens if not w in stop_words]
        return ' '.join(filtered_sentence)
    except:
        print(x.values)
        sys.exit(1)

In [12]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
resumes=df['text'].apply(remove_stop_words)
# store as list of lists of words
resumes_ted = []
for sent_str in resumes:
    tokens = re.sub(r"[^a-z0-9]+", " ", sent_str.lower()).split()
    resumes_ted.append(tokens)

In [18]:
EMB_DIM=300
w2v=Word2Vec(resumes_ted, #the list of split resumes
             size=EMB_DIM, #the dimensionality of the embedding vector
             window=5, #Maximum distance between the current and predicted word within a sentence
             min_count=3, #Ignores all words with total frequency lower than this (to keep only valid real words)
             negative=15, #Negative sampling will be used, the int for negative specifies how many “noise words” should be drawn (usually between 5-20)
             iter=20, #Number of iterations (epochs) over the corpus
             workers=multiprocessing.cpu_count()) #number of threads being used
vectors=w2v.wv

In [20]:
vectors.most_similar(positive=['education'])

[('rehabilitation', 0.4810681641101837),
 ('educationnand', 0.47509175539016724),
 ('disabilities', 0.4749957323074341),
 ('educational', 0.47054755687713623),
 ('secondary', 0.4691264033317566),
 ('nonpublic', 0.4645863175392151),
 ('persons', 0.46200433373451233),
 ('specialneducation', 0.4591621160507202),
 ('counselor', 0.45609360933303833),
 ('vocational', 0.45447710156440735)]

## Looking at the number index before aggregating sub-sections:
(to see if it parsed correctly)

In [878]:
import pandas as pd
import numpy as np

# df = pd.read_csv('data/output/resume_summary.csv')
df = pd.read_csv('data/output/resume_parsed.csv')
df.drop(['extension'], axis=1, inplace=True)

In [879]:
# for i in df.index:
#     df.file_path[i] = df.file_path[i][29:]

In [875]:
# print('Columns that are not used:\n')
# for i in df.columns:
#     if len(set(df[i])) == 1:
#         print(i[:-8])

In [873]:
# !pip install pandas_profiling --no-deps
# import pandas_profiling
# df.profile_report(style={'full_width':True})

In [880]:
x = pd.DataFrame(df.loc[13])
x.columns = ['Name']
print(x.loc['file_path'])
x[x.Name != -1].drop(['file_path','text'], axis=0).sort_values(by='Name')

Name    ../data/input/resumes/LT CV.pdf
Name: file_path, dtype: object

                    Name
ExperienceLocation   217
EducationLocation   3720
SoftwareLocation    3891
SkillsLocation      3901

In [932]:
# count = 0
# for i in df.index[255:]:
#     if df.text.loc[i].find('PROFILE') != -1 :
#         if df.text.loc[i].find('\\nPROFILE\\n') != -1 :
#             pass
#         else:
#             print(i)

## Or looking at the aggregated df to see if it parsed correctly:

In [ ]:
# pd.set_option('max_colwidth', 100)

In [1]:
import pandas as pd
df1 = pd.read_csv('data/output/resume_sections.csv')
df1.drop(['extension'], axis=1, inplace=True)

import re
def remove_stop_words(x):
    x = str(x)
    x = x.replace('___',' ')
    x = x.replace('\n',' ')
    x = x.replace('\r',' ')
    x = x.replace('\t',' ')
    x = x.replace('\s',' ')
    x = x.replace('   ',' ')
    return x

# df1['text']=df1['text'].apply(remove_stop_words)
df1['Language']=df1['Language'].apply(remove_stop_words)
df1['Edu']=df1['Edu'].apply(remove_stop_words)
df1['Work']=df1['Work'].apply(remove_stop_words)
df1['Summaries']=df1['Summaries'].apply(remove_stop_words)
df1['Skill']=df1['Skill'].apply(remove_stop_words)
df1['Member']=df1['Member'].apply(remove_stop_words)
df1['Writing']=df1['Writing'].apply(remove_stop_words)
df1['Researching']=df1['Researching'].apply(remove_stop_words)
df1['Honor']=df1['Honor'].apply(remove_stop_words)
df1['Activity']=df1['Activity'].apply(remove_stop_words)
df1['Curriculars']=df1['Curriculars'].apply(remove_stop_words)

In [4]:
x = df1.iloc[35]
pd.DataFrame(x)

                                                                     35
file_path             ../data/input/resumes/Omar Resume 6.2019 wigg.pdf
text                  220 E. Illinois | Chicago, IL 60661 | 617-955-...
ProfessionalTraining                                                NaN
Language              LANGUAGES   Technical: R, Python, VBA, SQL, MS...
Edu                   EDUCATION  University of Chicago | Chicago, IL...
Work                   PROFESSIONAL EXPERIENCE    NIMBL, Techedge Gr...
Summaries                                                           nan
Skill                                                       SKILLS AND
Member                                                              nan
Writing                                                             nan
Researching            RESEARCH EXPERIENCE Kraft Heinz People Analyt...
Honor                                                               nan
Activity                                                            nan
Curriculars            CO-CURRICULARS  Photography: photography-omar...

In [22]:
df1

,file_path,text,ProfessionalTraining,Language,Edu,Work,Summaries,Skill,Member,Writing,Researching,Honor,Activity,Curriculars
0,../data/input/resumes/VolunteerResume_LK.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,NaN,nan,"EDUCATION & CERTIFICATIONS: Drake University, ...",CURRENT ROLE: Content Marketing Coordinator H...,ABOUT ME: After spending more than five years ...,nan,nan,nan,nan,nan,"VOLUNTEER ROLES: Power Read Mentor, Everybody...",nan
1,../data/input/resumes/Gloria Cheng2018.pdf,\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n ...,NaN,"LANGUAGE SKILLS: Fluent in English, Mandarin ...",EDUCATION: Married ...,EXPERIENCE: Company: Armstrong Asset manage...,nan,COMPUTER SKILLS: • Proficient in Ms Offic...,nan,nan,nan,nan,nan,HOBBIES:
2,../data/input/resumes/UOB AM_Felyna Lee_Produc...,"Felyna Lee Hui Chay, CFA \nRNF Rep. No.: LHC30...",NaN,nan,EDUCATION Jun 2012 – Jun 2014 Chartered Fin...,EXPERIENCE Mar 2014 – Present UOB Asset Manag...,nan,SKILLS/OTHER INFORMATION  Successful sat f...,nan,nan,PROJECTS Regional Product and Sales Committee...,nan,nan,nan
3,../data/input/resumes/Echols_Resume_Sept19.pdf,"Matthew Echols \n\n1701 W Summerdale Ave, Chic...",NaN,nan,EDUCATION UNIVERSITY OF CHICAGO ...,WORK EXPERIENCE Northwestern University ...,OBJECTIVE Detail-oriented Analytics major (4....,"SKILLS Python (SciPi, Numpy, scikit-learn, Pa...",nan,nan,nan,nan,ADDITIONAL,nan
4,../data/input/resumes/LaurenEhrler_HSI.pdf,Lauren Ehrler \n\n664 33rd Street DSM IA \n563...,NaN,nan,"EDUCATION Drake University – Des Moines, IA –...",EXPERIENCE The Des Moines Register – Des Moine...,nan,PROFESSIONAL SKILLS  Quick learner with pro...,nan,nan,nan,nan,nan,nan
5,../data/input/resumes/Ivy Choo.pdf,"Choo Gui Yi, Ivy\t\n\n \n\nAddress: 38 Lorong ...",NaN,nan,Education Summary • Aug 2006 - Jun 2009 – Un...,Work History & Responsibilities 1. Company: ...,nan,Skills • English and Chinese (Written and Sp...,nan,nan,nan,nan,nan,nan
6,../data/input/resumes/Vickers Financial_Ryan T...,Ryan Tang \nCompliance Professional \nEmail: r...,NaN,LANGUAGES English Mandarin Chinese ...,EDUCATION University of London Bachelor of Sc...,EXPERIENCE Compliance Officer at Vickers Fina...,nan,"SKILLS Microsoft Word, Excel & Powerpoint ...",nan,nan,nan,nan,nan,nan
7,../data/input/resumes/Marin_Gow_Resume.pdf,MARIN K. GOW \n\n \n\n \n\nCONTACT INFORM...,NaN,nan,EDUCATION University of Chicago Master of Sci...,PROFESSIONAL EXPERIENCE West Monroe Partners ...,nan,"SKILLS Data engineering/ETL, data analysis, st...",nan,nan,nan,nan,COMMUNITY,INVOLVEMENT Chicago Python User Group (ChiPy) ...
8,../data/input/resumes/PWC_Penny Lim_Risk AM.pdf,\n \n \n\n \n\n \n\n PENNY LIM \n\...,NaN,LANGUAGES   Excellent in spoken and writte...,nan,WORK EXPERIENCE PricewaterhouseCoopers Risk ...,nan,SKILLS/,nan,nan,nan,AWARDS/,"Volunteer English Lesson Instructor  Plan, ...",CO-CURRICULAR ACHIEVEMENTS   
9,../data/input/resumes/Radhika Singh.pdf,"\n\n \n\nRadhika Singh \n\nBlk 241,Kim Keat L...",NaN,Languages: Part time Positions while purs...,nan,Professional Experience The Unity Group of C...,nan,Qualifications and Accreditations CPA candid...,nan,nan,nan,nan,nan,nan
10,../data/input/resumes/SGresume-1.pdf,"Sébastien Genty\n\n1209 Page St, Apt 7, San Fr...",NaN,Languages English French Spanish German,"Education Bucknell University – Lewisburg, PA...","Work Experience Project Director, Socratic Te...",nan,Skills Computer R Python SPSS Mathematica Mat...,nan,nan,Projects New Product Development • Computed...,nan,nan,"Interests Film and digital photography, phys..."
11,../data/input/resumes/Resume Updated 3.pdf,EDUCATION \n\nJENA MANILLA \n\n5714 S. Kenwood...,NaN,nan,EDUCATION JENA MANILLA 5714 S. Kenwood Ave. | ...,"EXPERIENCE Chicago, IL Jan 2019 - Present THE...",nan,nan,nan,nan,nan,nan,"ADDITIONAL  Proficient in R, Excel VBA, Tab...",nan
12,../data/input/resumes/rachel weeks resume.pdf,,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,,nan
13,../data/input/resumes/LT CV.pdf,PERSONAL PARTICULARS \nName: Lee Li Ting \nCo...,NaN,nan,EDUCATION Bachelor of Accountancy 1996 - Nany...,EXPERIENCE 2007 – Present EDBI Pte Ltd/ EDB ...,nan,"SKILLS MS Office: Word, Excel and PowerPoint ...",nan,nan,nan,nan,nan,nan
14,../data/input/resumes/john_smith.pdf,John Smith \n\n \n\n \n\n2222 McCoy Road  ...,NaN,nan,EDUCATION Bachelor of Business Administration ...,"WORK EXPERIENCE Kent State University, Kent, ...",OBJECTIVE Seeking a marketing internship with...,"COMPUTER SKILLS Microsoft Office: Word, Powe...",nan,nan,"Programs: Adobe Photoshop, Movie Maker Socia...",HONORS Summit County Alumni Association Schol...,"VOLUNTEER EXPERIENCE Relay for Life, Kent Sta...","CAMPUS INVOLVEMENT Member, Delta Sigma Pi M..."
15,../data/input/resumes/resume_Meyer.pdf,MONICA MEYER\n\n(415) · 497 · 7282 (cid:5) mon...,NaN,nan,EDUCATION Master of Science in Analytics Univ...,WORK EXPERIENCE Bank of America Dec 2013 - J...,nan,SKILLS Programming Protocols & APIs Databases...,nan,nan,COURSE PROJECTS Expected June 2015 July 201...,nan,nan,nan
16,../data/input/resumes/Loh Pei Shang.pdf,\n\nLoh Pei Shang \n\nAddress: Block 625 #27-...,NaN,nan,nan,Professional Experience: Phillip Capital Man...,nan,nan,nan,nan,nan,nan,nan,nan
17,../data/input/resumes/Vertex Venture_Ocvia Fre...,Ocvia Freriana\nSingapore\nCompliance professi...,NaN,nan,Education Nanyang Technological University Ba...,Experience Compliance Lead at Vertex Venture ...,nan,nan,nan,nan,nan,nan,nan,nan
18,../data/input/resumes/Eitrheim Resume.pdf,"ANN EITRHEIM, CFA \ncell: 952.412.8888 \nann.e...",NaN,nan,EDUCATION UNIVERSITY OF CHICAGO | March 202...,EXPERIENCE WEST MONROE PARTNERS Data Analyti...,nan,COMPUTER SKILLS & Programming languages: Py...,nan,nan,nan,nan,nan,nan
19,../data/input/resumes/Layla_Martin_Resume.pdf,Layla Martin\n\n2038 McAllister St\n\nSan Fran...,NaN,nan,EDUCATION AND AWARDS Master of Science in Ana...,nan,nan,"SKILLS Python, R, MySQL, PostgreSQL, Matlab, ...",nan,nan,PROJECTS Sentiment Analysis using Naive-Bayes...,nan,"LEADERSHIP President, Pi Mu Epsilon National ...",ATHLETICS NCAA Division I Women’s Soccer: USF...
20,../data/input/resumes/Vasanthi Kasinathan.pdf,1 \n\n \n\n \n\n \n\n \n\nT H E S E A R C H ...,NaN,LANGUAGE SKILLS,EDUCATION DETAILS • SINGAPORE ACCOUNTANTS A...,PROFESSIONAL EXPERIENCE PACIFIC STAR FINANCI...,nan,TECHNICAL SKILLS • PROFICIENT IN MICROSOFT...,nan,nan,nan,nan,nan,nan
21,../data/input/resumes/Xander_Erwina Lau_Financ...,\n \n \n\n \n \n\n \n \n\nEducation \n\...,NaN,nan,Education Experience Jan 2016 – Present La...,nan,nan,nan,nan,nan,nan,nan,nan,nan
22,../data/input/resumes/Resume_LK volunteer.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,NaN,nan,"EDUCATION & CERTIFICATIONS: Drake University, ...",CURRENT ROLE: Content Marketing Coordinator H...,ABOUT ME: After spending more than five years ...,nan,nan,nan,nan,nan,"VOLUNTEER ROLES: Power Read Mentor, Everybody...",nan
23,../data/input/resumes/PWC_Wong Zhong Ming_Seni...,Curriculum Vitae \n\n \n\n \n \nNRIC No: S8929...,NaN,Language Skills 1. English : 2. Chinese ...,nan,nan,nan,Software Skills -National Youth...,nan,nan,nan,nan,nan,nan
24,../data/input/resumes/Luminance Fund_Saleem La...,LinkedIn: https://sg.linkedin.com/in/saleemlal...,NaN,nan,EDUCATION:  Chartered Institute of Manageme...,PROFESSIONAL EXPERIENCE: LUMINANCE FUND (Swi...,nan,nan,nan,nan,nan,nan,nan,nan
25,../data/input/resumes/resume nathan eitrheim.pdf,Nathan Eitrheim \nnathan.eitrheim@gmail.com \n...,NaN,nan,"Education Am Waeldchen 14 Hauptstuhl, 66851 ...",Work Experience Small business owner (part-t...,nan,"Computer Skills Fluent (CFD), SolidWorks (CA...",nan,nan,nan,nan,Volunteer Work Site co-lead for LyondellBase...,nan
26,../data/input/resumes/Hellier WOS CV.pdf,"Yvette M. Hellier, Pharm.D. \n\n724 40th Stree...",NaN,nan,EDUCATION Doctor of Pharmacy Drake Universit...,WORK EXPERIENCE May 2016 August 20...,nan,CERTIFICATIONS AND LICENSES Scholarship of Te...,PROFESSIONAL ORGANIZATIONS March 2018-...,PRESENTATIONS AND CREATED MATERIALS “Evaluat...,"RESEARCH Mitchell Y, Volpendesta J, Dray J....",AWARDS AND HONORS August 2010–May 2014 ...,COMMUNITY AND PROFESSIONAL OUTREACH Leadersh...,nan
27,../data/input/resumes/Michael Olson Resume.pdf,\n\nMichael Olson \n\n1440 Locust Street #30...,NaN,nan,Education IOWA STATE UNIVERSITY – A...,Professional Experience PROLIANT BIOL...,Objective To continue my academic ...,nan,nan,nan,nan,nan,nan,EXTRACURRICULAR / VOLUNTEER EXPERIENCES: ¨ ...
28,../data/input/resumes/SBirkholz CV.pdf,2015 - 2019 \n\n2014 – 2015 \n\n2010 – 2014 \n...,NaN,nan,EDUCATION Creighton University School of Medic...,PROFESSIONAL EXPERIENCE Obstetrics and Gyne...,nan,nan,PROFESSIONAL MEMBERSHIPS American Medical Wom...,PRESENTATIONS/ PUBLICATIONS Poster Presentat...,RESEARCH ACTIVITIES Tourniquet Trauma Resea...,AWARDS Medical Dean’s MAGIS Scholarship S...,COMMUNITY SERVICE Institute for Latin Americ...,"HOBBIES AND INTERESTS Running, Baking, Traveli..."
29,../data/input/resumes/Resume 6.pdf,\t\n \n\nANN\t\n K.\t\n EITRHEIM\t\n \n\nP...,NaN,nan,"EDUCATION Drake University, Des Moines,...",EXPERIENCE Summer Financial Analyst; June...,nan,"SKILLS • Microsoft Office Suite: Word, ...",nan,nan,nan,HONORS • Order of Omega – Top three ...,ACTIVITIES AND,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,../data/input/resumes/Kaggle_resume_dataset.csv,Aaron Laue\nTalent Unlimited\n4049 Pennsylvani...,NaN,nan,EDUCATION / TRAINING\nActor Training Studio\n\...,EXPERIENCE\nDirection Experience\n\nOther Expe...,nan,nan,nan,nan,nan,nan,nan,nan
1039,../data/input/resumes/Kaggle_resume_dataset.csv,"! ""\n$\n\n""\n%\n\n#\n\n&\n\n!\n\'\n\'& ( )\n\n...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,!,nan
1040,../data/input/resumes/Kaggle_resume_dataset.csv,MAGGIE BICKFORD\nProfessor of the History of A...,NaN,nan,EDUCATION\n1987\n1978\n1975\n1972-73\n1968/69\...,nan,nan,nan,nan,nan,nan,"FELLOWSHIPS, GRANTS\nBook Prizes\nJoseph Leven...",nan,nan
1041,../data/input/resumes/Kaggle_resume_dataset.csv,MARIAH FORD\nHeight: 5 4 \nStars Talent Studi...,NaN,nan,nan,nan,nan,"SKILLS & INTERESTS\nGreat at Improv, Performin...",nan,nan,nan,nan,nan,nan
1042,../data/input/resumes/Kaggle_resume_dataset.csv,Your Name\nPhone number\nEmail address\nHeight...,NaN,nan,EDUCATION\nUNIVERSITY OF ALASKA FAIRBANKS\nBAT...,nan,nan,"SKILLS\nImprovisation, Burp on Demand, Sports ...",nan,nan,nan,nan,nan,nan
1043,../data/input/resumes/Kaggle_resume_dataset.csv,Jarien Sky-Stutts Senior 3D Artist\n\ncontac...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,4,nan
1044,../data/input/resumes/Kaggle_resume_dataset.csv,RESUME\nDan Platt\n5134 Oakdale Ave.\nWoodland...,NaN,nan,"EDUCATION ]\n B.F.A. Major: Illustration, Min...",nan,nan,nan,nan,nan,nan,nan,nan,ACCOMPLISHMENTS - 1989/2004]\n\nDigital modeli...
1045,../data/input/resumes/Kaggle_resume_dataset.csv,"Jeff Wolverton, M.S., B.S.Cis.\nVisual FX Arti...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,m,nan
1046,../data/input/resumes/Kaggle_resume_dataset.csv,LETA LOU GRAY\t\n\r\n\n\t\n\r\n\n\t\n\r\n\n\t\...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,.,nan
1047,../data/input/resumes/Kaggle_resume_dataset.csv,Curriculum Vitae\nPersonal Details\n\nDarren L...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,T,nan
1048,../data/input/resumes/Kaggle_resume_dataset.csv,Your Name\n\nSchool Address\n123 Main Street\n...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,.,nan
1049,../data/input/resumes/Kaggle_resume_dataset.csv,Stacy Adams\nSAG/AFTRA\nHeight:\nWeight:\nHair...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,g,nan
1050,../data/input/resumes/Kaggle_resume_dataset.csv,PERFORMING ARTS RESUME\nContent\nA performer ...,NaN,nan,"EDUCATION\nSarah Lawrence College, Bronxville,...",EXPERIENCE\nShow\nRole\nDancing at Lughnasa\nR...,nan,"SKILLS\nProficient in Alexander Technique, Sta...",nan,nan,nan,"AWARDS\nInsert name of award, date received\nS...",nan,nan
1051,../data/input/resumes/Kaggle_resume_dataset.csv,ED WEISS\nTeaching Artist Resume\n\ne-mail: We...,NaN,nan,nan,EXPERIENCE\n2010 ClassroomInternshipatP.S.31Wi...,nan,nan,nan,nan,nan,nan,nan,nan
1052,../data/input/resumes/Kaggle_resume_dataset.csv,8/23/2016 sample resume for painter. accountin...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,5,nan
1053,../data/input/resumes/Kaggle_resume_dataset.csv,KELSEY PAINTER\nBlonde Hair/Brown Eyes | Alto ...,NaN,nan,EDUCATION & TRAINING:\n\n \n\nTowson U...,nan,nan,SKILLS:\n\n \n\nStage Combat\nContact ...,nan,nan,nan,nan,nan,nan
1054,../data/input/resumes/Kaggle_resume_dataset.csv,Wendy Robin\nProfessional Make-up Artist\n(702...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,2,nan
1055,../data/input/resumes/Kaggle_resume_dataset.csv,"Chet Bailey\n100 Desert Street\nDrytown, CA 95...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,nan
1056,../data/input/resumes/Kaggle_resume_dataset.csv,Chris Flight Attendant\n11223 East South Avenu...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,.,nan
1057,../data/input/resumes/Kaggle_resume_dataset.csv,Bilingual Flight Attendant Resume\n\nANGELICA ...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,T,nan
1058,../data/input/resumes/Kaggle_resume_dataset.csv,Flight Attendant Resumes\nFlight-Attendant-Car...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,,nan
1059,../data/input/resumes/Kaggle_resume_dataset.csv,Emirates Flight Attendant Resume Sample\n\nAnn...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,h,nan
1060,../data/input/resumes/Kaggle_resume_dataset.csv,Entry Level Flight Attendant Resume No Exper...,NaN,nan,"EDUCATION\nROLAND INSTITUTE OF HIGHER STUDIES,...","EXPERIENCE\nABC COMPANY, San Jose, CA Summer 2...",nan,nan,nan,nan,nan,nan,nan,nan
1061,../data/input/resumes/Kaggle_resume_dataset.csv,"CURRICULUM VITAE\nMay 11, 2004\n\nNAME\n\nRobe...",NaN,nan,"EDUCATION\n\nSt. Cornelius Elementary, Long Be...","EXPERIENCE\nLifeguard and Swimming Instructor,...",nan,TRAINING\nU.S. Navy Aviation Officer Candidate...,"ASSOCIATIONS\nFellow, Society of Experimental ...",PUBLICATIONS\n cThe First Space Shuttle to Mir...,nan,"AWARDS\nExperimental Aircraft Association ""Fre...",nan,nan
1062,../data/input/resumes/Kaggle_resume_dataset.csv,"JED REDD\n\n_\n003 Boudry Lane\nFriend, TX 775...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,t,nan
1063,../data/input/resumes/Kaggle_resume_dataset.csv,"Lauren B. Pires\nMiami, Florida & New York Cit...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,3,nan
1064,../data/input/resumes/Kaggle_resume_dataset.csv,Free Flight Attendant Resume\nDarlene Flint\n8...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,C,nan
1065,../data/input/resumes/Kaggle_resume_dataset.csv,Corporate Flight Attendant Resume\nCAITLIN FLA...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,T,nan
1066,../data/input/resumes/Kaggle_resume_dataset.csv,"MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr., S...",NaN,nan,"EDUCATION\nMBA, Business Administration & Mana...","EXPERIENCE\nAssistant Professor of Management,...",nan,"CERTIFICATIONS\nCertified Flight Instructor, F...",nan,nan,nan,"AWARDS\nField Grade Officer of the Quarter, Di...",nan,nan
1067,../data/input/resumes/Kaggle_resume_dataset.csv,STACY SAMPLE\n\n702 800-0000 cell\n\n0000@emai...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,s,nan

In [23]:
x.Work

' PROFESSIONAL EXPERIENCE    NIMBL, Techedge Group | Chicago, IL                          June 2019 – September 2019  Data Intelligence Practice – Junior Consultant ▪  Provided predictive analytics solutions for Fortune 500 CPG and Automotive clients; utilizing machine learning, deep learning (computer vision), operations research, and statistical modeling techniques on R and Python  ▪  Built visual dashboards for performance management and resource/financial planning on SAP Analytics Cloud  ▪  Investigated a new SAP Analytics Cloud client solution that integrates R based predictive modeling capabilities   Abbott Laboratories (contract by Hiregenics) | Lake Forest, IL                   May 2017 – August 2017  Supply Chain Operations Intern  ▪  Built VBA algorithm to optimize box utilization (N-P problem); reduced average chargeable shipment cost by    29.9%, increased box utilization by 12.1%, reduced average shipment volume by 297.4 inch3  ▪  Performed trend analysis for top tier customers to quantify benefits of order consolidation ▪  Simulated packing area using Arena; recommendation reduced packing time by 2.8 minutes per unit  ▪  Studied outbound dock using pallet density hourly data; proposed dock composite performance index    '

# Cleaning up Kaggle data

In [788]:
# kaggle = pd.read_csv('~/PycharmProjects/Resume-Parser/data/input/resumes/Kaggle_resume_dataset.csv', usecols=[0, 1, 2])

In [869]:
# kaggle.to_csv('~/PycharmProjects/Resume-Parser/data/input/resumes/Kaggle_resume_dataset.csv', index=False)

In [933]:
import os
os.path.getsize('data/input/resumes/Kaggle_resume_dataset.csv')

5342701

In [855]:
# pd.set_option('max_colwidth', 100)

In [871]:
# kaggle.text[random.randint(0, len(kaggle))]

In [872]:
# counts = 0
# for i in kaggle.index:
#     if kaggle.text.loc[i].lower().find('\\n \\n') != -1:
#         kaggle.text.loc[i] = kaggle.text.loc[i].replace('\\n \\n', '\\n\\n')
#         counts = counts + 1
# print(counts)

In [485]:
# kaggle.drop(649, axis=0, inplace=True)

In [ ]:
# kaggle = kaggle.reset_index(drop=True)