In [426]:
import pandas as pd
import numpy as np

# df = pd.read_csv('data/output/resume_summary.csv')
df = pd.read_csv('data/output/resume_parsed.csv')
df.drop(['extension'], axis=1, inplace=True)

for i in df.index:
    df.file_path[i] = df.file_path[i][30:]

/Users/anneitrheim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [427]:
x = pd.DataFrame(df.loc[5])
x.columns = ['Name']
print(x.loc['file_path'])
x[x.Name != -1].drop(['file_path','text'], axis=0).sort_values(by='Name')

Name    Resume Updated 3.pdf
Name: file_path, dtype: object

                    Name
EducationLocation      0
ExperienceLocation   911
AdditionalLocation  2852

In [428]:
df.text.loc[5][2852:]

'\nADDITIONAL \n\n\uf0b7  Proficient in R, Excel VBA, Tableau, Power BI; basic proficiency in Python, Stata, Spanish \n\uf0b7  Convinced two of my college friends to hike 500mi with me from France to Portugal; it took us a month \n\uf0b7  Avid podcast listener (anything politics-related); bad but enthusiastic skier; lover of spicy foods (cuisine agnostic) \n\n\x0c'

In [359]:
# pd.set_option('max_colwidth', 100)

In [429]:
df1 = pd.read_csv('data/output/resume_sections.csv')
df1.drop(['extension'], axis=1, inplace=True)

for i in df1.index:
    df1.file_path[i] = df1.file_path[30:]
    for j in ['text', 'Language', 'Edu', 'Work', 'Summaries', 'Skill', 'Member', 'Writing',
              'Researching', 'Honor', 'Activity', 'Curriculars']:

        df1[j].loc[i] = str(df1[j].loc[i]).replace('\n',' ')

In [446]:
x = df1.iloc[14]
pd.DataFrame(x)

                                                                                                              14
file_path                                                             Series([], Name: file_path, dtype: object)
text            Michael Olson    1440 Locust Street #308 u Des Moines, IA  50309 u michaelolson515@gmail.com ...
Language                                                                                                     nan
Edu           Education  ___________________________________________________________________________    IOWA ...
Work          Professional Experience  _______________________________________________________________    PRO...
Summaries     Objective   ___________________________________________________________________________    To c...
Skill                                                                                                        nan
Member                                                                                                       nan
Writing                                                                                                      nan
Researching                                                                                                  nan
Honor                                                                                                        nan
Activity                                                                                                     nan
Curriculars   EXTRACURRICULAR / VOLUNTEER EXPERIENCES:    ¨  The National Society of Leadership and Success  ...

In [445]:
x.Activity

'COMMUNITY AND PROFESSIONAL OUTREACH       Leadership and Membership in Team-Based Healthcare: small group facilitator                                       January 2017   Oath of a Pharmacist Workshop: small group facilitator                                                                           September 2016    UCDMC Outreach Health Fair: volunteer                                                                                                            July 2016    Goal Ball: volunteer athlete                                                                                                             January 2013–May 2014    Wesley Acres: volunteer         ACTIVITIES      “Difficult Times in Precepting: Navigating Challenging Situations”   §  CHSP West Coast Preceptor Conference  §  Challenging situation script development      SPLICE Initiative Simulation Development            §  California Simulation Alliance, Betty Irene Moor School of Nursing   §  Simulation development       “Gamification of Pharmacy Learning”      §  Sacramento Region Conference, University of the Pacific   §  Co-facilitated “game-based” learning sessions                                           September 2016                        September 2016                                June 2018                                May 2017                          October 2016                     April 2014                       March 2013                                  January 2018   December 2017   September 2016      LEADERSHIP DEVELOPMENT            Lambda Kappa Sigma: Hope WaLKS T-shirt Committee Head and New Member Educator      August 2014- May 2015     College of Pharmacy and Health Sciences:  Honor Code Committee Member                       August 2014–May 2016  Delta Gamma Fraternity: Vice President Social Standards                                                  January 2013–December 2014    Delta Gamma Fraternity: Honor Board Sophomore Member                                              January 2012–December 2013    Alpha Mu Gamma: Vice President, President                                                                             August 2011–August 2013    Student Leadership Development Series: Member                                                                 September 2012–April 2013    Don Adams Leadership Institute: Member                                                                             September 2011–April 2012      '