In [2]:
import pandas as pd
df = pd.read_csv('data/output/resume_summary.csv')
df

,index,file_path,extension,text,Language,Edu,Work,Summaries,Skill,Member,...,work_dates,greeklife,certifications,top_10_universities,top_100_universities,associate_education_level,bachelor_education_level,master_education_level,doctor_education_level,languages
0,0,../data/input/resumes/VolunteerResume_LK.pdf,.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,NaN,"EDUCATION & CERTIFICATIONS:\nDrake University,...",\nCURRENT ROLE:\nContent Marketing Coordinator...,T ME:\nAfter spending more than five years in ...,NaN,NaN,...,['June 2018'],{'fraternity'},NaN,{'Drake University'},NaN,NaN,{'Bachelor of Arts'},NaN,NaN,NaN
1,1,../data/input/resumes/Gloria Cheng2018.pdf,.pdf,\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n ...,"LANGUAGE SKILLS: Fluent in English, Mandarin ...",EDUCATION: \n \n \n \n \n \n \n \n\nMarried \n...,EXPERIENCE: \n \n\nCompany: \n\n \n\nArmstrong...,NaN,\nCOMPUTER SKILLS: \n\n \n\n \n• Proficient i...,NaN,...,['year end'],NaN,{'certified public accountant'},NaN,NaN,NaN,NaN,"{'Master of Business Administration', 'Master ...",NaN,"{'English', 'Chinese'}"
2,2,../data/input/resumes/UOB AM_Felyna Lee_Produc...,.pdf,"Felyna Lee Hui Chay, CFA \nRNF Rep. No.: LHC30...",NaN,EDUCATION \nJun 2012 – Jun 2014 \n\n \nCharter...,EXPERIENCE \n\n \n\nMar 2014 – Present \n\nUOB...,NaN,SKILLS/OTHER INFORMATION \n\n  Successful s...,NaN,...,"['Mar 2014', 'February 2016', 'May 2015', '12 ...",NaN,{'chartered financial analyst'},NaN,NaN,NaN,"{'Bachelor of Arts', 'Bachelor of Business Adm...",NaN,NaN,NaN
3,3,../data/input/resumes/Echols_Resume_Sept19.pdf,.pdf,"Matthew Echols \n\n1701 W Summerdale Ave, Chic...",NaN,EDUCATION \nUNIVERSITY OF CHICAGO ...,\nWORK EXPERIENCE \nNorthwestern University ...,OBJECTIVE \nDetail-oriented Analytics major (4...,"SKILLS \n Python (SciPi, Numpy, scikit-learn,...",NaN,...,[],NaN,NaN,{'UChicago'},NaN,NaN,NaN,{'Master of Science'},NaN,NaN
4,4,../data/input/resumes/LaurenEhrler_HSI.pdf,.pdf,Lauren Ehrler \n\n664 33rd Street DSM IA \n563...,NaN,"EDUCATION \nDrake University – Des Moines, IA ...",EXPERIENCE \nThe Des Moines Register – Des Mo...,NaN,\nPROFESSIONAL SKILLS \n\n Quick learner wit...,NaN,...,"['January 2015', 'June 2017', 'April 2017', 'J...",NaN,NaN,{'Drake University'},NaN,NaN,{'Bachelor of Arts'},NaN,NaN,NaN
5,5,../data/input/resumes/Ivy Choo.pdf,.pdf,"Choo Gui Yi, Ivy\t\n\n \n\nAddress: 38 Lorong ...",NaN,\nEducation Summary \n\n• Aug 2006 - Jun 2009...,\nWork History & Responsibilities \n\n1. Comp...,NaN,\nSkills \n\n• English and Chinese (Written a...,NaN,...,"['October 2012', 'March 2012 to October 2012',...",NaN,NaN,NaN,NaN,NaN,{'Bachelor of Science'},NaN,NaN,NaN
6,6,../data/input/resumes/Vickers Financial_Ryan T...,.pdf,Ryan Tang \nCompliance Professional \nEmail: r...,LANGUAGES \n \nEnglish \nMandarin Chinese \n\...,EDUCATION \nUniversity of London \nBachelor o...,EXPERIENCE \nCompliance Officer at Vickers Fin...,NaN,"SKILLS \nMicrosoft Word, Excel & Powerpoint \n...",NaN,...,"['July 2013', '3 years 7 months']",NaN,NaN,NaN,NaN,NaN,{'Bachelor of Science'},NaN,NaN,"{'English', 'Chinese'}"
7,7,../data/input/resumes/Marin_Gow_Resume.pdf,.pdf,MARIN K. GOW \n\n \n\n \n\nCONTACT INFORM...,NaN,EDUCATION \n\nUniversity of Chicago \nMaster o...,\nPROFESSIONAL EXPERIENCE \n\nWest Monroe Part...,NaN,"SKILLS \n\nData engineering/ETL, data analysis...",NaN,...,"['2018 – June 2021', 'Sept 2012', '2014 - June...",NaN,NaN,{'UChicago'},NaN,NaN,"{'Bachelor of Arts', 'Bachelor of Science'}",{'Master of Science'},NaN,NaN
8,8,../data/input/resumes/PWC_Penny Lim_Risk AM.pdf,.pdf,\n \n \n\n \n\n \n\n PENNY LIM \n\...,LANGUAGES \n \n \n\nExcellent in spoken and ...,NaN,\nWORK EXPERIENCE \nPricewaterhouseCoopers Ris...,NaN,SKILLS/,NaN,...,"['Dec 2011 - Feb 2012', 'Apr 2010 - Aug 2010',...",NaN,{'certified public accountant'},NaN,NaN,NaN,NaN,NaN,NaN,"{'English', 'Chinese'}"
9,9,../data/input/resumes/Radhika Singh.pdf,.pdf,"\n\n \n\nRadhika Singh \n\nBlk 241,Kim Keat L...",\nLanguages: \n \n \n \n \nPart time Position...,NaN,\nProfessional Experience \n \nThe Unity Group...,NaN,\nQualifications and Accreditations \n \nCPA c...,NaN,...,"['September 2016', '4 months', 'February 2016 ...",NaN,{'certified public accountant'},NaN,NaN,NaN,NaN,NaN,NaN,"{'English', 'Chinese', 'Hindi'}"
10,10,../data/input/resumes/SGresume-1.pdf,.pdf,"Sébastien Genty\n\n1209 Page St, Apt 7, San Fr...",\nLanguages\n English\n French\n Spanish\n ...,"\nEducation\nBucknell University – Lewisburg, ...","\nWork Experience\nProject Director, Socratic ...",NaN,\nSkills\nComputer\n R\n Python\n SPSS\n M...,NaN,...,"['September 2012 - Present', 'Fall 2011 - Spri...",NaN,NaN,NaN,NaN,NaN,{'Bachelor of Science'},NaN,NaN,"{'Spanish', 'English', 'German', 'French'}"
11,11,../data/input/resumes/Resume Updated 3.pdf,.pdf,EDUCATION \n\nJENA MANILLA \n\n5714 S. Kenwood...,NaN,EDUCATION \n\nJENA MANILLA \n\n5714 S. Kenwood...,"EXPERIENCE \n\nChicago, IL \nJan 2019 - Presen...",NaN,NaN,NaN,...,"['June 2019', 'May 2015', 'Dec 2014 –', 'May 2...",NaN,NaN,{'UChicago'},NaN,NaN,{'Bachelor of Science'},"{'Master of Business Administration', 'Master ...",NaN,NaN
12,12,../data/input/resumes/rachel weeks resume.pdf,.pdf,,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,../data/input/resumes/LT CV.pdf,.pdf,PERSONAL PARTICULARS \nName: Lee Li Ting \nCo...,NaN,EDUCATION \nBachelor of Accountancy 1996 - Nan...,EXPERIENCE \n2007 – Present \nEDBI Pte Ltd/ ED...,NaN,"SKILLS \nMS Office: Word, Excel and PowerPoint...",NaN,...,"['2012 - 2015', '2009 - 2012', '2007 - 2009', ...",NaN,{'certified public accountant'},NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,../data/input/resumes/john_smith.pdf,.pdf,John Smith \n\n \n\n \n\n2222 McCoy Road  ...,NaN,EDUCATION \nBachelor of Business Administrati...,"\nWORK EXPERIENCE \nKent State University, Ke...",OBJECTIVE \nSeeking a marketing internship wit...,"\nCOMPUTER SKILLS \nMicrosoft Office: Word, Po...",NaN,...,"['May 2018', 'August 2015 - Present', 'August ...",NaN,NaN,NaN,NaN,NaN,{'Bachelor of Business Administration'},NaN,NaN,NaN
15,15,../data/input/resumes/resume_Meyer.pdf,.pdf,MONICA MEYER\n\n(415) · 497 · 7282 (cid:5) mon...,NaN,EDUCATION\n\nMaster of Science in Analytics\nU...,\nWORK EXPERIENCE\n\nBank of America\nDec 2013...,NaN,SKILLS\n\nProgramming\nProtocols & APIs\nDatab...,NaN,...,"['2013 - June 2014', '2012 - Dec 2013']",NaN,NaN,NaN,NaN,NaN,{'Bachelor of Arts'},{'Master of Science'},NaN,NaN
16,16,../data/input/resumes/Loh Pei Shang.pdf,.pdf,\n\nLoh Pei Shang \n\nAddress: Block 625 #27-...,NaN,NaN,\nProfessional Experience: \n \nPhillip Capita...,NaN,NaN,NaN,...,"['April 2016 - Present', 'October 2009 – April...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,../data/input/resumes/Vertex Venture_Ocvia Fre...,.pdf,Ocvia Freriana\nSingapore\nCompliance professi...,NaN,\nEducation\nNanyang Technological University\...,\nExperience\nCompliance Lead at Vertex Ventur...,NaN,NaN,NaN,...,"['September 2016', '7 months', 'July 2014', 'S...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,../data/input/resumes/Eitrheim Resume.pdf,.pdf,"ANN EITRHEIM, CFA \ncell: 952.412.8888 \nann.e...",NaN,EDUCATION \n \nUNIVERSITY OF CHICAGO | March...,EXPERIENCE \n \nWEST MONROE PARTNERS \nData An...,NaN,\nCOMPUTER SKILLS & \nProgramming languages: ...,NaN,...,"['June 2019', 'December 2014', 'January 2015 –...",NaN,{'chartered financial analyst'},{'UChicago'},NaN,NaN,NaN,{'Master of Science'},NaN,NaN
19,19,../data/input/resumes/Layla_Martin_Resume.pdf,.pdf,Layla Martin\n\n2038 McAllister St\n\nSan Fran...,NaN,EDUCATION\nAND AWARDS\n\nMaster of Science in ...,NaN,NaN,"SKILLS\n\nPython, R, MySQL, PostgreSQL, Matlab...",NaN,...,[],NaN,NaN,NaN,NaN,{'Associate of Arts'},{'Bachelor of Science'},{'Master of Science'},NaN,NaN
20,20,../data/input/resumes/Vasanthi Kasinathan.pdf,.pdf,1 \n\n \n\n \n\n \n\n \n\nT H E S E A R C H ...,LANGUAGE SKILLS \n \n\n,EDUCATION DETAILS \n \n\n• SINGAPORE ACCOUNTA...,\nPROFESSIONAL EXPERIENCE \n \nPACIFIC STAR FI...,NaN,\nTECHNICAL SKILLS \n \n\n• PROFICIENT IN MIC...,NaN,...,"['1998 - 1999', '1997 – 1998', '1995 - 1997', ...",NaN,{'certified public accountant'},NaN,NaN,"{'Associate of Arts', 'Associate of Science'}",{'Bachelor of Science'},{'Master of Arts'},NaN,NaN
21,21,../data/input/resumes/Xander_Erwina Lau_Financ...,.pdf,\n \n \n\n \n \n\n \n \n\nEducation \n\...,NaN,\nEducation \n\nExperience \n\nJan 2016 – \nPr...,NaN,NaN,NaN,NaN,...,[],NaN,{'certified public accountant'},NaN,NaN,"{'Associate of Arts', 'Associate of Science'}",{'Bachelor of Engineering'},"{'Master of Science', 'Master of Arts'}",NaN,NaN
22,22,../data/input/resumes/Resume_LK volunteer.pdf,.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,NaN,"EDUCATION & CERTIFICATIONS:\nDrake University,...",\nCURRENT ROLE:\nContent Marketing Coordinator...,T ME:\nAfter spending more than five years in ...,NaN,NaN,...,['June 2018'],{'fraternity'},NaN,{'Drake University'},NaN,NaN,{'Bachelor of Arts'},NaN,NaN,NaN
23,23,../data/input/resumes/PWC_Wong Zhong Ming_Seni...,.pdf,Curriculum Vitae \n\n \n\n \n \nNRIC No: S8929...,\nLanguage Skills \n\n1. English : \n2....,NaN,NaN,NaN,\nSoftware Skills \n\n \n \n \n\n \n \n\n \n \...,NaN,...,[],NaN,{'certified public accountant'},NaN,NaN,NaN,NaN,NaN,NaN,"{'English', 'Chinese'}"
24,24,../data/input/resumes/Luminance Fund_Saleem La...,.pdf,LinkedIn: https://sg.linkedin.com/in/saleemlal...,NaN,EDUCATION: \n Chartered Institute of Managem...,\nPROFESSIONAL EXPERIENCE: \n\nLUMINANCE FUND...,NaN,NaN,NaN,...,"['December 2016', 'November 2015', 'August – S...",NaN,NaN,NaN,NaN,{'Associate of Arts'},NaN,{'Master of Arts'},NaN,NaN
25,25,../data/input/resumes/resume nathan eitrheim.pdf,.pdf,Nathan Eitrheim \nnathan.eitrheim@gmail.com \n...,NaN,"\nEducation \n\nAm Waeldchen 14 \nHauptstuhl, ...",\nWork Experience \nSmall business owner (part...,NaN,"\nComputer Skills \nFluent (CFD), SolidWorks (...",NaN,...,"['July 2016-Current', 'January 2016-June 2017'...",{'fraternity'},NaN,NaN,NaN,NaN,{'Bachelor of Science'},{'Master of Science'},NaN,NaN
26,26,../data/input/resumes/Hellier WOS CV.pdf,.pdf,"Yvette M. Hellier, Pharm.D. \n\n724 40th Stree...",NaN,EDUCATION \n \n \nDoctor of Pharmacy \nDrake U...,\nWORK EXPERIENCE \n\n \n\n \n\n \n\n \n\n \n\...,NaN,CERTIFICATIONS AND LICENSES \n \n \nScholarshi...,\nPROFESSIONAL ORGANIZATIONS \n \n \n ...,...,"['May 2016', 'August 2012', 'June 2017', 'Febr...",{'fraternity'},NaN,{'Drake University'},NaN,NaN,NaN,NaN,{'Doctor of Pharmacy'},NaN
27,27,../data/input/resumes/Michael Olson Resume.pdf,.pdf,\n\nMichael Olson \n\n1440 Locust Street #30...,NaN,\nEducation _________________________________...,\nProfessional Experience ___________________...,\nObjective ________________________________...,NaN,NaN,...,"['19 year', 'five year', '2015 - APRIL 2016']",NaN,NaN,NaN,NaN,"{'Associate of Arts', 'Associate of Science'}",{'Bachelor of Science'},NaN,NaN,NaN
28,28,../data/input/resumes/SBirkholz CV.pdf,.pdf,2015 - 2019 \n\n2014 – 2015 \n\n2010 – 2014 \n...,NaN,EDUCATION \n\nCreighton University School of M...,\nPROFESSIONAL EXPERIENCE \n\n Obstetrics and...,NaN,NaN,\nPROFESSIONAL MEMBERSHIPS \n\nAmerican Medica...,...,"['Summer 2014', 'the day', 'Summer 2012']","{'fraternity', 'sorority'}",NaN,{'Drake University'},NaN,NaN,{'Bachelor of Arts'},NaN,{'Doctor of Medicine'},NaN
29,29,../data/input/resumes/Resume 6.pdf,.pdf,\t\n \n\nANN\t\n K.\t\n EITRHEIM\t\n \n\nP...,NaN,"EDUCATION\t\n \t\n \nDrake\t\n University,\...",EXPERIENCE\t\n \nSummer\t\n Financial\t\n A...,NaN,SKILLS\t\n \n\n• Microsoft\t\n Office\t\n ...,NaN,...,[],{'fraternity'},{'chartered financial analyst'},NaN,NaN,NaN,{'Bachelor of Science'},NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1038,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Aaron Laue\nTalent Unlimited\n4049 Pennsylvani...,NaN,EDUCATION / TRAINING\nActor Training Studio\n\...,EXPERIENCE\nDirection Experience\n\nOther Expe...,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,{'Bachelor of Science'},{'Master of Business Administration'},NaN,NaN
1039,1039,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,"! ""\n$\n\n""\n%\n\n#\n\n&\n\n!\n\'\n\'& ( )\n\n...",NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1040,1040,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,MAGGIE BICKFORD\nProfessor of the History of A...,NaN,EDUCATION\n1987\n1978\n1975\n1972-73\n1968/69\...,NaN,NaN,NaN,NaN,...,[],NaN,"{'chartered financial analyst', 'certified pub...",NaN,NaN,{'Associate of Arts'},{'Bachelor of Arts'},{'Master of Arts'},{'Doctor of Philosophy'},NaN
1041,1041,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,MARIAH FORD\nHeight: 5 4 \nStars Talent Studi...,NaN,NaN,NaN,NaN,"SKILLS & INTERESTS\nGreat at Improv, Performin...",NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1042,1042,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Your Name\nPhone number\nEmail address\nHeight...,NaN,EDUCATION\nUNIVERSITY OF ALASKA FAIRBANKS\nBAT...,NaN,NaN,"SKILLS\nImprovisation, Burp on Demand, Sports ...",NaN,...,[],NaN,NaN,NaN,NaN,"{'Associate of Arts', 'Associate of Science'}",NaN,{'Master of Arts'},NaN,NaN
1043,1043,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Jarien Sky-Stutts Senior 3D Artist\n\ncontac...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1044,1044,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,RESUME\nDan Platt\n5134 Oakdale Ave.\nWoodland...,NaN,"EDUCATION ]\n B.F.A. Major: Illustration, Min...",NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1045,1045,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,"Jeff Wolverton, M.S., B.S.Cis.\nVisual FX Arti...",NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,{'chartered financial analyst'},NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,1046,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,LETA LOU GRAY\t\n\r\n\n\t\n\r\n\n\t\n\r\n\n\t\...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1047,1047,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Curriculum Vitae\nPersonal Details\n\nDarren L...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048,1048,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Your Name\n\nSchool Address\n123 Main Street\n...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1049,1049,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Stacy Adams\nSAG/AFTRA\nHeight:\nWeight:\nHair...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1050,1050,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,PERFORMING ARTS RESUME\nContent\nA performer ...,NaN,"EDUCATION\nSarah Lawrence College, Bronxville,...",EXPERIENCE\nShow\nRole\nDancing at Lughnasa\nR...,NaN,"SKILLS\nProficient in Alexander Technique, Sta...",NaN,...,[],NaN,NaN,NaN,NaN,NaN,{'Bachelor of Arts'},NaN,NaN,NaN
1051,1051,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,ED WEISS\nTeaching Artist Resume\n\ne-mail: We...,NaN,NaN,EXPERIENCE\n2010 ClassroomInternshipatP.S.31Wi...,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052,1052,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,8/23/2016 sample resume for painter. accountin...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,{'certified public accountant'},NaN,NaN,NaN,NaN,NaN,NaN,NaN
1053,1053,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,KELSEY PAINTER\nBlonde Hair/Brown Eyes | Alto ...,NaN,EDUCATION & TRAINING:\n\n_____________________...,NaN,NaN,SKILLS:\n\n___________________________________...,NaN,...,[],NaN,NaN,NaN,NaN,NaN,{'Bachelor of Science'},NaN,"{'Medical Doctor', 'Doctor of Medicine'}",NaN
1054,1054,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Wendy Robin\nProfessional Make-up Artist\n(702...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,{'certified public accountant'},NaN,NaN,NaN,NaN,NaN,NaN,NaN
1055,1055,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,"Chet Bailey\n100 Desert Street\nDrytown, CA 95...",NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1056,1056,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Chris Flight Attendant\n11223 East South Avenu...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1057,1057,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Bilingual Flight Attendant Resume\n\nANGELICA ...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1058,1058,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Flight Attendant Resumes\nFlight-Attendant-Car...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1059,1059,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Emirates Flight Attendant Resume Sample\n\nAnn...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1060,1060,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Entry Level Flight Attendant Resume No Exper...,NaN,"EDUCATION\nROLAND INSTITUTE OF HIGHER STUDIES,...","EXPERIENCE\nABC COMPANY, San Jose, CA Summer...",NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,{'Associate of Science'},NaN,NaN,NaN,NaN
1061,1061,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,"CURRICULUM VITAE\nMay 11, 2004\n\nNAME\n\nRobe...",NaN,"EDUCATION\n\nSt. Cornelius Elementary, Long Be...","EXPERIENCE\nLifeguard and Swimming Instructor,...",NaN,TRAINING\nU.S. Navy Aviation Officer Candidate...,"ASSOCIATIONS\nFellow, Society of Experimental ...",...,"['March\\n1972September 1973', 'December 1973S...",NaN,NaN,NaN,NaN,"{'Associate of Arts', 'Associate of Science'}",{'Bachelor of Science'},NaN,NaN,NaN
1062,1062,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,"JED REDD\n\n_\n003 Boudry Lane\nFriend, TX 775...",NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1063,1063,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,"Lauren B. Pires\nMiami, Florida & New York Cit...",NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1064,1064,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Free Flight Attendant Resume\nDarlene Flint\n8...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065,1065,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,Corporate Flight Attendant Resume\nCAITLIN FLA...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066,1066,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,"MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr., S...",NaN,"EDUCATION\nMBA, Business Administration & Mana...","EXPERIENCE\nAssistant Professor of Management,...",NaN,"CERTIFICATIONS\nCertified Flight Instructor, F...",NaN,...,[],NaN,NaN,NaN,NaN,NaN,{'Bachelor of Science'},"{'Master of Business Administration', 'Master ...",NaN,NaN
1067,1067,../data/input/resumes/Kaggle_resume_dataset.csv,NaN,STACY SAMPLE\n\n702 800-0000 cell\n\n0000@emai...,NaN,NaN,NaN,NaN,NaN,NaN,...,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
for i in df.Member[df.Member == df.Member]:
    print(re.sub(' +',' ',i.replace('\\n','. ').replace('\n','. ')))
    print('\n')

. PROFESSIONAL ORGANIZATIONS . . . March 2018-Present . California Society of Health-System Pharmacists . June 2016–Present . American Pharmacists Association . August 2012–Present . American Society of Health-Systems Pharmacists . August 2014–May 2016 . Phi Lambda Sigma . Lambda Kappa Sigma . August 2013–May 2016 . American Pharmacists Association-Academy of Student Pharmacists August 2010–May 2016 . August 2010–May 2016 . Drake Pharmacy United Group of Students . Iowa Pharmacy Association . August 2010–May 2016 . . .


. PROFESSIONAL MEMBERSHIPS . . American Medical Woman’s Association . . Phi Rho Sigma Medical Fraternity . . American Medical Association . . American College of Obstetricians and Gynecologists . . American Academy of Family Physicians . .


. PROFESSIONAL AFFILIATION . Chartered Accountant . ICPAS . . 	. .


ASSOCIATIONS. Member, Strategic Account Management Association. Member, American Marketing Association. . 2002-present. 1990-present. . PROFESSIONAL RECOGNITION. . . . . Vice Presidential Achievement Award, 2005. Circle of Excellence Award, 2004. Chosen as representative from 1,000 candidates to attend an Emerging Leaders. Program, 2001. True Spirit Award, 2000. Patent Incentive Award, 2000. . SOFTWARE. . . . Siebel CRM. Macromedia Dreamweaver and Flash. Adobe Photoshop. . EDUCATION. Bucknell University, Lewisburg, PA. Bachelor of Science. Business Administration. . 7. . Sample Combination R um. John Doe. 222 Market Street. Lewisburg, PA 17837. (570) 524-0000. Doej@aol.com. Summary of Qualifications. Motivated marketing professional with 12 years of proven success.. Demonstrated ability to assess and address client needs to develop strong client loyalty.. Recipient of two cEmployee of the Year awards. Strong team player with 8 years of management experience.. Professional Experience. Marketing. Generated a $1,000,000 new client base.. Developed cThe Leading Edge television campaign for Rocko Sports.. Created the Nike cswish. . Successfully maintain an existing client base of over 100 Fortune 500 companies.. Accomplishments. Promoted to Lead Marketing Manager after 6 months in current position.. Recognized by peers and clients for outstanding service, for two consecutive years.. Consistently exceed marketing plan goals by 10 percent per year.. Management. Train and supervise a team of 20.. Interviewed, selected and trained 100 volunteers.. Conduct performance reviews and professional development activities.. . . . . Work History. Lead Marketing Manager. Market Yourself, Inc., Harrisburg, PA. Marketing Manager. Markets-R-Us, New York, NY. Marketing Coordinator. American Red Cross, New York, NY. . 2000-Present. 1998-2000. 1996-1998. . Education. Bucknell University, Lewisburg, PA. Bachelor of Arts. Sociology. Volunteer Experience. Big Brothers/Big Sisters. Habitat for Humanity. . 2000-Present. 2002. . 8. . Sample Combination R um. Jane Doe. 1000 Anywhere Street. Anywhere, NY 10014. (212) 555-1212. doej@hotmail.com. Executive Summary. . . . . Dynamic, award-winning executive with over 12 years of proven success creating and. launching new products for domestic and international markets.. Led team of 55 to increase market share by 40%.. Granted patent for innovative communication tool used to acquire new clients.. Skilled in reducing marketing costs, managing cross-functional teams, and administering. multi-billion dollar budgets.. . Professional Experience. Management. Oversee opportunity identification and evaluation; construct business cases; formulate. new offers and promotions.. Supervised in-house and outside agency creative staff of 16 in developing logos,. website, direct mail, and e-mail acquisition marketing; functioned as point person in. external partner negotiations. Managed $1 billion business unit; led supplier negotiations, oversaw financial and. operational results.. Strategic Planning. Create, track, and evaluate internal metrics and management reporting to identify. marketing performance and effectiveness of programs, markets, and product mix.. Analyze industry trends and competitive landscapes.. Direct strategic planning of Internet and high speed access services with $1.7 billion. annual revenue. Ensured success of new corporate venture by strategizing business plans, cases, and. market scenarios.. Defined operational plans to integrate GGC and TMT following $14 billion acquisition.. Development. Drive branding guidelines across the organization and with external partners.. Directed formation of E-based capabilities, including website, E-sales, E-care, and Ebilling/payment. Created strategic business plan for new venture into consumer DSL broadband service.. Communication. Supervised 10-person marketing team.. Prepared strategic and business plan communications for presentations to Board of. Directors, industry and financial analysts, suppliers, partners, and employees.. Led team of 20 in launch of new high-speed internet services, including customer. identification, sales planning, channel mix, pricing, promotion, and customer experience. definition.. . 9. . Jane Doe. . Page 2. . Work History. XYZ Corporation, New York, NY. Division Manager, Marketing Strategy and Development. . 2000-present. . ABC Corporation, Boston, MA. Marketing and Sales Director, Consumer Services. Product Management Director. . 1993-2000. 1995-2000. 1993-1995. . Sesame Seed Company. Strategic and Business Planning District Manager. . 1990-1993. . Associations. Member, Strategic Account Management Association. Member, American Marketing Association. . 2002-present. 1990-present. . Professional Recognition. . . . . Vice Presidential Achievement Award, 2005. Circle of Excellence Award, 2004. Chosen as representative from 1,000 candidates to attend an Emerging Leaders. Program, 2001. True Spirit Award, 2000. Patent Incentive Award, 2000. . Software. . . . Siebel CRM. Macromedia Dreamweaver and Flash. Adobe Photoshop. . Education. Bucknell University, Lewisburg, PA. Bachelor of Science. Business Administration. . 10. . R um Building Tips for Success. \x99 Remember that there is no one correct way to create a r um. What one person. likes, another may not. Ask for a lot of input before deciding on the r um that is. right for you.. \x99 Keep it to one page unless you have significant experience in your field. If you do. have a two page r um, make sure they are two relatively complete pages.. \x99 If you will be moving soon, use the two-address format.. \x99 Keep typeface simple. It best to use Times-Roman or Arial.. \x99 8 1/2" x 11" white or light colored, good quality paper is best. Avoid flashy clook. at me colors. Use matching paper for cover letter and avoid folding your r um. into a mailing envelope. Send it in a 9" x 11" mailing envelope.. \x99 Justify the left margin, but not the right. It easier to read.. \x99 Highlight important information (your name, address, and titles of jobs, major. categories) with boldface type.. \x99 Use 11 or 12-point type. Do not use graphics unless you are in the design field.. \x99 Save it on a computer disk. It easier to update and/or change this way. Keep. the disk safe, and make a back-up copy. Saving your r um also lets you make. targeted r um for specific positions to which you are applying.. \x99 Everything you put in your r um is fair game for the interview. Be able to. discuss every point without having to refer to notes or ask for time to respond to. a question.. \x99 Bring extra r um to your interview; even if you are sure your interviewer has a. copy.. \x99 Use action words (see page 20) when describing what you have done. Examples. include: created, managed, developed, revised, presented, etc.. \x99 Proof. Proof. Proof. One mistake generally means you re out the door. The. quality of your r um reflects the quality of your work and professionalism. If. you make a mistake on your r um, will you make a mistake in your job?. Employers will think so.. \x99 Remember the 3-Example Rule: If you list a skill, you need to come up with three. examples to support it.. \x99 Highlight computer/technology knowledge and skills as well as experience. . working as part of a group or team.. . 11. . 12. . Parts of the R um. Identification. This section should include your name, address, telephone numbers (home, and/or cell. phone numbers), and e-mail address. Make sure the employer can reach you, or can. leave a message easily.. . Tips. \x99 Include area codes with all telephone numbers. \x99 Make sure your voice mail message or e-mail address is not offensive,. unprofessional or ccutesy . Examples of UNPROFESSIONAL emails:. Studmuffin@aol.com. emilyscarletohara@hotmail.com. sexychick@yahoo.com. . Objective. The objective should tell what you can contribute and demonstrate the value you will. add to the organization. The r um material following the objective should support or. prove that you can perform the objective. If you have access to a computer, you can. easily change your job objective to suit each employment opportunity.. Having an objective is OPTIONAL. If you choose not to use an objective, make sure. you refer to the job you are targeting in your cover letter.. . Sample Strong Objectives. \x99 A position as a General Sales Representative with Eli Lilly which will utilize my. chemistry and sales background.. \x99 A position in data analysis where skills in mathematics, computer programming,. and deductive reasoning will contribute to new systems development.. . Sample of Weak Objectives. \x99 Management position which will use my business administration degree and will. provide opportunities for rapid advancement and annual salary increases.. \x99 A public relations position in which I can maximize opportunities to develop and. implement programs, organize people and events, communicate positive ideas. and images.. . 13. . Tips. \x99 The objective should be as short as possible, and not include such phrases as. cchallenging position , cutilizing my skills , cgrowth potential , croom for. advancement , etc.. \x99 If you are applying for a specific job opening, always use the employer job title. for that position.. \x99 If you choose not to use an objective, use a summary statement or qualifications. section instead.. . Showcasing. There are two sections of a r um that are optional, but are excellent ways to. showcase your abilities up front. Think of them as a quick snapshot of your best talents.. This helps the employer get interested in you quickly!. . Summary Statement. When you have a number of years experience in a particular field or industry, this. statement is often used as an alternative to an objective or as an addition. It portrays a. summary of your credentials in sentence or paragraph form.. . Example. Over ten years of successful experience providing professional customer service.. Proven ability to effectively handle difficult situations. Highly motivated, energetic and. very creative.. . Qualifications. This section often appears on the r um to highlight and summarize your areas of. expertise, and your credentials, usually including 3 5 lines making reference to your. Work History, Education and Strengths or Self Management Skills.. . Examples. \x99 Recently completed my BS degree in Mechanical Engineering. \x99 Programming experience in Java, CTT and HTML. \x99 Fluent in Spanish and Russian. . Tips. \x99 Put strong statements at the beginning of your r um. The most important. information should come first.. \x99 Don t use the word cI in any part of your resume.. . 14. . Worksheet: Showcase Your Accomplishments. Showcasing your abilities can a challenge, because most of us don t cbrag on a daily. basis. However, to successfully communicate your skills to the employer, you need to. learn how to csell yourself.. Take some time to list your accomplishments. Start now, but come back to it later,. when you ve thought of more things. Draw on all your experiences: paid, unpaid,. volunteer, and home. Once you have a list you can pick and choose what you want to. highlight.. There is no right or wrong way to do this, but try to include as much information as. possible. If you trained people, how many? The employer doesn t know your. capabilities, so your job is to educate him/her on what you can bring to the position!. . Examples. \x99 Successfully managed $500,000 accounts receivables and reduced delinquent. accounts by 15 percent.. \x99 Trained over 100 staff members in CPR and First Aid procedures.. \x99 Developed 35 new accounts while maintaining 60 existing accounts.. . Accomplishments. . Keep in mind the variety of experiences you have had which can transfer to other job. duties. Following is a list of some skill areas which may help you categorize your skills.. . 15. . Skill Clusters. (Both transferable skills and special knowledge skill areas). . Accountant Management. Accounting. Administration. Advertising. Benefits. Bookkeeping. Budgeting. Business Communication. Business Management. Client Services. Coaching. Communications. Community Relations. Computer. Construction. Customer Relations. Customer Service. Database Management/Spreadsheets. Drafting. Electrical. Electronic. Employee Relations. Equipment Maintenance. Fabrication. Financial. Food Preparation. Home Remodeling. Home Repair. Inspection. Interviewing. Inventory Control. Labor Relations. Laboratory. Maintenance. Management. Marketing Research. Marketing. Mechanical. Merchandising. Negotiation. Office Management. Payroll. . Personnel. Printing. Product Development. Production. Public Relations. Purchasing. Quality Control. Real Estate. Records Management. Reception. Recruiting. Restaurant Management. Retailing. Sales. Sheet metal. Shipping & Receiving. Supervision. Teaching. Technical. Training. . 16. . Career Transferable Skills. \x99 INFORMATION MANAGEMENT


MEMBERSHIPS &


MEMBERSHIPS. . . . PMP, Project Management Institute (PMI). PMI Sothern Alberta Chapter (PMI-SAC). Professional Development Conference (PDC) Chair for the 2011 & 2012 PMI-SAC PDC. Fellowship Chair (PMI-SAC). .


MEMBERSHIPS. Project Management Institute (PMI), American Society for Quality (ASQ), National Society of Hispanic MBAs (NSHMBA)


MEMBERSHIPS. Flemington Drupal Meetup, Central NJ Drupal Meetup, Attended 2 NJ Drupal Camps.


MEMBERSHIPS. 2014. 2012. 2012. 2011. . Project Management Officer, Monash Information Technology Club (MITC). Student Member of the Design Institute of Australia. Student Member of the Australian Institute of Technology. Elected Committee Member of Monash Student Representative Council. . INTERESTS. . . . . Reading: crime novels, technology magazines. Keeping abreast of computer game developments through technology blogs. Sport: indoor cricket, black belt karate, skiing. Travel: SE Asia, Europe. . REFEREES. Ms Mandy Tempson. Manager (Current Manager). Computers R Us. Tel: 9876 6677. Email: mandytempson@gmail.com. Dr Kate Brilla. Head of Faculty of Information, Technology & Systems (Tutor on degree course). Monash University, Berwick Campus. Tel: 9800 1334. Email: kate.brilla@monash.edu.au. . Garry Graham Page 3. . monash.edu/careers. careers.info@monash.edu. +61 3 9905 4170. Facebook.com/MonashECD


MEMBERSHIPS. Real Estate graduate Research club ,NUS (President). . REFERENCES. References available upon request. . 3


MEMBERSHIPS. Arizona Society of Certified Public Accountants. Financial Executives International. o 2-time finalist in Arizona CFO of the Year Award. CFO Alliance. National Association of College and University Business OfficersASSOCIATIONS ADDENDUM. . INROADS, INC.. 2004 to 2010. Nation largest non-profit source of salaried corporate internships for talented underserved college students who are also developed. for corporate and community leadership; $20M organization based in St. Louis, Missouri. Served as a member of the National Board,. Chairman of the National Board Finance Committee, Chairman of the Pacific Southwest Regional Board based in Los Angeles, and. member of the Arizona Advisory Board. Also served as a key member of the Consolidation Task Force that collapsed state legal. structure into a regional structure.. HOMEBASE YOUTH SERVICES. 2007 to 2010. Arizona non-profit with a $2.5M budget that teaches at-risk and homeless youth how to live healthy and independent lives. Served as. Chairman of the Board after serving as Vice Chairman. Also served as Chairman of the Executive, Nominating & Governance, and. Strategic Planning Committees. As Chairman, was able to oversee transition of organization services to a financially stronger. organization that could also provide additional needed services to the youth. This transition was necessary due to the loss of private. donations in the wake of the 2008 financial crises.. CFO ALLIANCE. 2009 to Present. Member of the Advisory Board. Organization is a global community of senior financial leaders and decision makers who come. together virtually and for bi-monthly roundtables to share their experience, knowledge and wisdom. Secured Thunderbird as the. academic partner for the Arizona Chapter.. PHOENIX BUSINESS JOURNAL. 2010 to 2011. Member of the CFO Advisory Board. Quarterly roundtable events focused on the CFO and what CFOs face in today challenging. economic and business environment.. HIGHLAND SHORES HOMEOWNERS ASSOCIATION. 1998 to 2000. Board member of very large homeowners association (1,800 homeowners) in Dallas, Texas, with an annual budget in excess of $1M.. Included responsibility for 1400 acres of greenbelt and recreational amenities. Served as Treasurer of the organization.. CHURCH COUNCILS. Served a total of six years on various Church Councils. Held the positions of Treasurer and Financial Secretary.. PROFESSIONAL ASSOCIATION


MEMBERSHIPS. List any memberships you may have relevant to your research or other life activities..


MEMBERSHIPS &



In [60]:
# import re
# import spacy
# nlp = spacy.load('en_core_web_sm')

In [45]:
# for num in range(0,60):
#     try:
#         input_string = re.sub('[;-]', ',',df.Summaries[num].replace('\n',' '))
#         input_string = re.sub('[_]', ' ',input_string)
#         input_string = re.sub(' +', ' ',input_string)
#         print('\n')
#         print(input_string)
#         doc = nlp(input_string) 
#         doc_entities = doc.ents 
#         for i in doc_entities:
#         #     if i.label_ == 'PERSON':
#             print(i, '   ', i.label_)
#     except:
#         pass

T ME: After spending more than five years in traditional newsroom settings, I made the shift to apply my content creation and social media talents to a nonprofit setting at the Healthiest State Initiative. I am grateful that my current work allows me to practice my professional skills while supporting my personal passions of health and wellness.
more than five years             DATE
the Healthiest State Initiative             FAC


OBJECTIVE Detail,oriented Analytics major (4.0 GPA) currently attending University of Chicago. Aiming to leverage proven creative thinking, organizational, and teamwork skills to successfully fill the data scientist role at your company. Seen as adaptable by my peers, I can be relied upon to think outside the box to question any missing assumptions.
Detail             PERSON
Analytics             NORP
4.0             CARDINAL
GPA             ORG
University of Chicago             ORG


OBJECTIVE Seeking a marketing internship with ABC Company in Spring 2017 to utilize my organizational and analytical skills.
ABC Company             ORG
Spring 2017             DATE


T ME: After spending more than five years in traditional newsroom settings, I made the shift to apply my content creation and social media talents to a nonprofit setting at the Healthiest State Initiative. I am grateful that my current work allows me to practice my professional skills while supporting my personal passions of health and wellness.
more than five years             DATE
the Healthiest State Initiative             FAC


 Objective To continue my academic education and gain admittance to the University of Iowa’s Professional MBA Program.
the University of Iowa’s Professional MBA Program             ORG


OBJECTIVE:\nTo pursue a demanding HR Role within a reputed firm with the approach to take up responsibilities to\naccomplish organizational goals where in my skills and potentials are being utilized to the maximum,\nalongside focusing on the scope of enhancing my personal skills & gaining maximum knowledge during my\ntenure to contribute to the growth of the firm\nEMPLOYMENT HISTORY:\nJanuary 2007 Till date\nXYZ\nCompany Profile:\nXYZ is one of the region's most sought,after human capital consulting firms. Combining regional expertise\nwith the global experience of their exclusive partners, Mercer Human Resource Consulting and\nDevelopment Dimensions International (DDI), their trusted advice, solutions and insights help drive\norganisational excellence and business results.\nAssociate, HR Consultant\nReporting to the Principal Consultant, my responsibilities are:\n1.\n\n2.\n3.\n4.\n5.\n\n6.\n\nTo support and implement effective recommendations on the design and development of assigned\nHuman Resource functional areas, encompassing various programs relating to compensation,\nbenefits, resourcing, organizational effectiveness and/or employee development\nPrepare Job Desciptions, conduct Job Analysis & Evaluation to develop Pay Structures &\nCompensation Models.\nProvide project support by building & implementing Competency Matrices, Career ladders,\nperforming job matching & gap identification processes\nTo Conduct Market research to identify business opportunities, preparation of comprehensive\nreports, follow up on COL and other mobility products enquires\nManage certian project phases and advise clients in identifying potential areas of risk and\nexposure in their current HR processes and policies, work with clients in assisting them to draft\nHR policies & Procedure manuals to ensure overall compliance at par with preset Organisaitonal\nGoals\nCollect & analyze compensation/ other benefits data using SPSS to understand Market Trends &\ndetermine effectiveness of current Rewards policies, perform on,going evaluations of the program\neffectiveness .\n\nKey Achievements:\n Successfully set up a full,fledged Competency V/s. Skill Matrix for one of the biggest\nPetrochemical Company in the Middle East, focussing on technical & supervisory roles, (122\nPositions totally)\n Developed a Procedure Manual on the implementation of the Competency Matrix, and and as part of\ninnovation, added value to the process by including relevant request forms, checklists to\nauthenticate and validate the whole process.\n\n,1,\n\n www.uaehrzone.com\nJanuary 10th 2006 January 08th 2007\nXYZ, Dubai, U.A.E\nHR Coordinator, Recruitment & Employee Relations\n\nCurrent employee strength: 6000\nThe company comprises of 47 different nationalities & this position required a proper understanding of the\nbusiness, its people and the ability to cultivate an environment of trust and collaboration along with\neffective performance handling.\nReporting to:\n\nSenior HR Manager, Recruitment & Employee Relations\n\nDeputy Administration Manager (DAM)\nAs Recruitment Co,ordinator, my major responsibilities were:\n1. To ensure high quality (HR) procedures were in place, which is in line with the UAE legislative and\nCompany (EKFC) policy governing recruitment and selection.\n2. Building on existing systems to create HR tools including job descriptions, competency profiles,\nPerformance Mgmt Systems, KPI & Scorecards to improve efficiency and develop uniformity\nwithin the employee population of our Catering Unit.\n3. Collecting and analyzing various recruitment & budgetary data, preparing scheduled and special\nreports pertaining to budget & recruitment schemas,\n4. Maintaining various administration program & recruitment project records and statistical\ninformation relating to the same\n5. To develop and implement contemporary recruitment methods, that would attract top quality\ncandidates along with Balanced Scorecards, KPI appropriate to company benchmarking needs\n6. To facilitate feasible Psychometric Testing alternatives (Myres, Briggs Method, Thomass Kilmann\nMethod, The ABLE Method) for selection processes along with coaching and mentoring services to\nLine managers for developing recruitment skills in addition to providing input into the matching of\npotential candidates to suitable positions.\nAdditional Tasks:\na. Recruitment duties including liaising with recruitment agencies/ local newspaper establishments in placing job\nadverts were mandate,\nb. Conduct presentations on Knowledge Mgmt Systems, BSC, KPI etc.\nc. Conducting Job Description Interviews and preparing Job Descriptions in liaison with Line Managers & Vice\nPresidents of Departments/ Divisions\nd. Working closely with department managers to assess temporary (buffer) man,power needs and providing the\nmanagement with the same,\ne. Travelling abroad for recruitment projects.\nf. Preparing budgetary reports for new Man,Power Requirements (MPR)\n\ng.\n\nAdding value to recruiting processes and cutting down on cost involved\n\nKey Achievements:\n Added Value to Applicant CV/ Resume screening process by preparing a standard Evaluation Report\nand grading the Resume based on the compatibility with Job Description\n Conducted resourceful presentations on the Thomas Kilmann & ABLE Methods of Psychometric testing\n Brainstormed a sketch/ flowchart to facilitate In,house recruitment & internal placements System by\nmaintaining a systematic in,house CV Databank, Simultaneously this led to a development of Career\nPortal as well that facilitated External candidates all around the world to apply for positions. (Under\nConstruction)\n Developed a Centralised Requirement Template and a Competency Framework/ Mapping sheet where in\nall departments (HOD ) had to provide their requirement in a uniform manner and at uniform period\nof a financial year. This system facilitated establishing lead,time for recruitment projects during\nwhich the positions are closed, as well as facilitiating Business Unit heads in keeping track of\nBridging Competencies for their newly hired team members and enhancing internal growth.\n\n,2,\n\n www.uaehrzone.com\n\nMiscelleanous:\n\n\nOther HR responsibilities included conducting preliminary interviews of candidates to various\npositions, maintenance of personnel files and assisting the Public Relations Officer dealing\nprimarily with Visas for expatriate office and field force employees.\n\n\n\nAdministration responsibilities included assisting the Administration Manager with legal cases and\nbudget calculations, preparation of management reports, issuing letters to Banks, Embassies and\nGovernment departments for Employees and Agents in the region.\n\n(Reason for job change: Implementation of New visa policies resulting in an immigration ban for a Year)\nJune 19th, 2004, January 10th, 2006\nRecruitment Consultancy Dubai, U.A.E.\nSr. Recruitment Consultant/ Joined the company as a Recruitment Consultant\nReporting directly to the Executive Director, my major responsibilities were:\n1. I held a job profile of a Sr. Consultant (sales/ target driven) wherein Consulting with clients about\ntheir HR requirements, providing feasible alternatives, arranging contract and payment details\nwith them, sourcing relevant CV for positions, screening them, interviewing candidates and\nachieving a monthly set revenue target were few of my main responsibilities.\n2. Formulating Job Descriptions for various positions and conducting Wage & Compensation Surveys\nfor clients\n3. Conducting cold calls (marketing) to increase personal client database and to create diverse\nindustry specific clients,\n4. Suggesting marketing strategies, through research and development, in order to increase\ncandidate database by setting up seminars and creating awareness among candidates,\n5. Re,marketing dead/ in,active clients, negotiating feasible solutions with terms and conditions of\neither party \nKey Achievements:\n Closed positions of high managerial & technical calibre for diverse industries such as Fire, Proofing\nIndustry (UK Based), IT Industries (U.S. Based), Telecommunication Industry (France Based),\nElectro,Mechanical Industries, Construction, etc and have achieved target in very less time as less\nas a fortnight\n Designed the skeleton of an online cgo,live module for e,recruitment & implemented the same using\nweb technologies and consultancy services from Deltaone Technologies, India. It facilitated in\nfarming resumes of qualified professionals online as well as creating a friendly user,interface for\ncommunicating with clients with nothing more than the click of a mouse button.\n\n

OBJECTIVE:\nTo             ORG
Mercer Human Resource Consulting and\nDevelopment             ORG
Dimensions International             ORG
the Principal Consultant             ORG
assigned\nHuman Resource             ORG
development\nPrepare Job Desciptions             ORG
Job Analysis & Evaluation             ORG
Structures &\nCompensation Models.\nProvide             ORG
Competency Matrices             ORG
Career             ORG
COL             ORG
& Procedure             ORG
Organisaitonal\nGoals\nCollect &             ORG
SPSS             ORG
Market Trends &\ndetermine             ORG
Competency V/s             ORG
Matrix             PERSON
the biggest\nPetrochemical Company             ORG
the Middle East             LOC
10th 2006 January 08th             DATE
Dubai             GPE
U.A.E\nHR Coordinator, Recruitment & Employee             ORG
6000\nThe             CARDINAL
47             CARDINAL
Recruitment & Employee Relations\n\nDeputy Administration             ORG
DAM)\nAs Recruitment Co             ORG
UAE             ORG
EKFC             ORG
profiles,\nPerformance Mgmt Systems             ORG
KPI & Scorecards             ORG
Balanced Scorecards             ORG
KPI             ORG
Psychometric Testing             PERSON
Myres             PERSON
Briggs Method             PERSON
Thomass Kilmann\nMethod             PERSON
The ABLE Method             ORG
Knowledge Mgmt Systems             ORG
BSC             ORG
KPI             ORG
Conducting Job Description Interviews             ORG
Job Descriptions             PERSON
Line Managers & Vice\nPresidents             ORG
Divisions\nd             GPE
Man             PERSON
MPR)\n\ng.\n\nAdding             CARDINAL
Achievements:\n Added Value             ORG
Applicant CV/ Resume             PRODUCT
Evaluation             ORG
Resume             PERSON
the Thomas Kilmann &             ORG
Psychometric             GPE
Brainstormed             ORG
System by\nmaintaining             WORK_OF_ART
CV Databank             ORG
Career\nPortal             ORG
a financial year             DATE
Business Unit             ORG
the Public Relations             ORG
Visas             GPE
Banks, Embassies             ORG
Employees and Agents             ORG
Implementation of New             ORG
19th, 2004             DATE
January 10th             DATE
Dubai             GPE
U.A.E.\nSr             GPE
monthly             DATE
Formulating Job Descriptions             PERSON
Wage & Compensation             ORG
Achievements:\n Closed             ORG
Fire, Proofing\nIndustry             ORG
UK Based             ORG
Telecommunication Industry             ORG
France             GPE
Mechanical Industries             ORG
Construction             ORG
Deltaone Technologies             ORG
India             GPE

In [578]:
university_list = set()
for i in df.index:
    if df.Member[i] == df.Member[i]:

        doc = nlp(str(df.Edu[i]).replace('\\n', '. ').replace('\n', '. '))
        doc_entities = doc.ents
        doc_persons = filter(lambda x: x.label_ == 'ORG', doc_entities)
        doc_persons = filter(lambda x: len(x.text.strip().split()) >= 2, doc_persons)
        doc_persons = map(lambda x: x.text.strip(), doc_persons)
        doc_persons = list(doc_persons)
        for j in doc_persons:
            university_list.add(j)

In [579]:
import numpy as np
x = np.array(list(university_list))
x = pd.DataFrame(np.sort(x))

In [580]:
x

                                                     0
0                                               & 2009
1                                          A&M College
2                                   A.A.S. Engineering
3                      ADA Commission on Accreditation
4     ADA Food and Nutrition Conference and Exhibition
5                   ADA) Food & Nutrition Conference &
6    Academy of Nutrition and Dietetics Annual Food...
7                        Action for Health in Diabetes
8               Adagio Health Care Dietetic Internship
9                   Allegheny County Health Department
10                                   Allison & Bassett
11                       American Dietetic Association
12                     Anna University Campus, Chennai
13                                     Ashland College
14                      Australian Catholic University
15     Australian College of Rural and Remote Medicine
16                          B.A. Communication Studies
17                                       B.A. Religion
18                       B.A., Business Administration
19                                   B.S. Aeronautical
20                                   B.S. Biochemistry
21                                    BOUTIN JONES INC
22                                    Bachelor of Arts
23                               Bachelor of Education
24                 Bachelor of Medical Science, Monash
25                              Bachelor of Technology
26                         Blackstone Career Institute
27                            Blackstone School of Law
28                                  Bocconi University
29                                   Boston University
..                                                 ...
226                           University of Pittsburgh
227                       University of Pittsburgh CUP
228               University of Pittsburgh Coordinated
229       University of Pittsburgh Coordinated Masters
230  University of Pittsburgh School of Health Rela...
231  University of Pittsburgh School of Health and ...
232        University of Pittsburgh School of Medicine
233                               University of Regina
234                 University of Southern Mississippi
235                                University of Texas
236                  University of Texas School of Law
237                             University of Virginia
238                           University of Washington
239                University of Washington Law School
240                           University of Wollongong
241                            University of the South
242                 Victorian Certificate of Education
243                   Wagner Graduate School of Public
244                                    Water Resources
245                            White, Allison & Yeager
246                                   Yeager & Bassett
247                        Youngstown State University
248    Youngstown State University Coordinated Program
249               the Journal of Diabetes (Australasia
250  the Kolloquium in Public International Law, Ru...
251                               the Legal Aid Clinic
252               the Olive Stone Memorial Scholarship
253  the Study of Southern Literature: An Interdisc...
254              the University Of Texas School Of Law
255                           the University of Vienna

[256 rows x 1 columns]

https://spacy.io/api/annotation#named-entities
TYPE	DESCRIPTION
PERSON	People, including fictional.
NORP	Nationalities or religious or political groups.
FAC	Buildings, airports, highways, bridges, etc.
ORG	Companies, agencies, institutions, etc.
GPE	Countries, cities, states.
LOC	Non-GPE locations, mountain ranges, bodies of water.
PRODUCT	Objects, vehicles, foods, etc. (Not services.)
EVENT	Named hurricanes, battles, wars, sports events, etc.
WORK_OF_ART	Titles of books, songs, etc.
LAW	Named documents made into laws.
LANGUAGE	Any named language.
DATE	Absolute or relative dates or periods.
TIME	Times smaller than a day.
PERCENT	Percentage, including ”%“.
MONEY	Monetary values, including unit.
QUANTITY	Measurements, as of weight or distance.
ORDINAL	“first”, “second”, etc.
CARDINAL	Numerals that do not fall under another type.

## To look at sections of the YAML file:

In [1]:
# import yaml

# with open('/Users/anneitrheim/PycharmProjects/Capstone/confs/config.yaml', 'r') as stream:
#     try:
#         data_loaded = yaml.safe_load(stream)
#     except yaml.YAMLError as exc:
#         print(exc)

In [3]:
# import pandas as pd
# df = pd.DataFrame()
# for i in data_loaded['extractors']['universities']:
#     if type(i) == list:
#         df = df.append(pd.Series(i), ignore_index=True)
#     else:
#         df = df.append(pd.Series(i), ignore_index=True)

In [19]:
# df.columns = ['one', 'two', 'three']
# df.head(6)

## For word2vec on the resumes we have in our repo:

In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/output/resume_parsed.csv')
df.drop(['extension'], axis=1, inplace=True)

In [5]:
import nltk
# nltk.download()
from gensim.models import Word2Vec
import multiprocessing
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
import sys
import re

In [11]:
stop_words = set(stopwords.words('english'))
   
def remove_stop_words(x):
    try:
  
        x = x.replace('___',' ')
        x = x.replace('\n',' ')
        x = x.replace('\r',' ')
        x = x.replace('\t',' ')
        x = x.replace('\s',' ')
        x = x.replace('   ',' ')

        x = re.sub('[^A-Za-z ]+', '', x)
        
        word_tokens = word_tokenize(x)
        filtered_sentence = [w for w in word_tokens if not w in stop_words]
        return ' '.join(filtered_sentence)
    except:
        print(x.values)
        sys.exit(1)

In [12]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
resumes=df['text'].apply(remove_stop_words)
# store as list of lists of words
resumes_ted = []
for sent_str in resumes:
    tokens = re.sub(r"[^a-z0-9]+", " ", sent_str.lower()).split()
    resumes_ted.append(tokens)

In [18]:
EMB_DIM=300
w2v=Word2Vec(resumes_ted, #the list of split resumes
             size=EMB_DIM, #the dimensionality of the embedding vector
             window=5, #Maximum distance between the current and predicted word within a sentence
             min_count=3, #Ignores all words with total frequency lower than this (to keep only valid real words)
             negative=15, #Negative sampling will be used, the int for negative specifies how many “noise words” should be drawn (usually between 5-20)
             iter=20, #Number of iterations (epochs) over the corpus
             workers=multiprocessing.cpu_count()) #number of threads being used
vectors=w2v.wv

In [92]:
vectors.most_similar(positive=['university'])

NameError: name 'vectors' is not defined

## Looking at the number index before aggregating sub-sections:
(to see if it parsed correctly)

In [878]:
import pandas as pd
import numpy as np

# df = pd.read_csv('data/output/resume_summary.csv')
df = pd.read_csv('data/output/resume_parsed.csv')
df.drop(['extension'], axis=1, inplace=True)

In [879]:
# for i in df.index:
#     df.file_path[i] = df.file_path[i][29:]

In [875]:
# print('Columns that are not used:\n')
# for i in df.columns:
#     if len(set(df[i])) == 1:
#         print(i[:-8])

In [873]:
# !pip install pandas_profiling --no-deps
# import pandas_profiling
# df.profile_report(style={'full_width':True})

In [38]:
x

                                                                             Name
file_path                                         ../data/input/resumes/LT CV.pdf
text                            PERSONAL PARTICULARS \nName: Lee Li Ting  \nCo...
EducationLocation                                                            3720
AcademicLocation                                                               -1
CourseWorkLocation                                                             -1
CoursesLocation                                                                -1
RelatedCourseLocation                                                          -1
ProfessionalHistoryLocation                                                    -1
ProfessionalBackgroundLocation                                                 -1
EmploymentHistoryLocation                                                      -1
ProfessionalTrainingLocation                                                   -1
CareerHistoryLocation                                                          -1
WorkHistoryLocation                                                            -1
ExperienceLocation                                                            217
ApprenticeshipsLocation                                                        -1
InternshipsLocation                                                            -1
PreviousRolesLocation                                                          -1
CurrentRoleLocation                                                            -1
PositionsLocation                                                              -1
ObjectiveLocation                                                              -1
SummaryLocation                                                                -1
CareerGoalLocation                                                             -1
AboutMeLocation                                                                -1
ProfileLocation                                                                -1
TechnicalSkillsLocation                                                        -1
TechnologiesLocation                                                           -1
SoftwareLocation                                                             3891
ComputerSkillsLocation                                                         -1
SkillsLocation                                                               3901
CompetenciesLocation                                                           -1
...                                                                           ...
PublicationsLocation                                                           -1
ResearchLocation                                                               -1
ScholarshipsLocation                                                           -1
CurrentResearchLocation                                                        -1
AcademicServiceLocation                                                        -1
ConferenceLocation                                                             -1
AwardsLocation                                                                 -1
ConventionsLocation                                                            -1
ProjectsLocation                                                               -1
ExhibitsLocation                                                               -1
AccoladesLocation                                                              -1
ProgramsLocation                                                               -1
VolunteerLocation                                                              -1
Co_CurricularLocation                                                          -1
ExtracurricularLocation                                                        -1
Extra_CurricularLocation                                                       -1
CommunityLocation                                                              -1
AffiliationsLocation                                                           -1
InterestsLocation                                                              -1
HobbiesLocation                                                                -1
ActivitiesLocation                                                             -1
AthleticInvolvementLocation                                                    -1
CivicActivitiesLocation                                                        -1
CollegeActivitiesLocation                                                      -1
LeadershipLocation                                                             -1
InvolvementLocation                                                            -1
CampusInvolvementLocation                                                      -1
AccomplishmentsLocation                                                        -1
AchievementsLocation                                                           -1
AdditionalLocation                                                             -1

[91 rows x 1 columns]

In [37]:
x = pd.DataFrame(df.loc[13])
x.columns = ['Name']
print(x.loc['file_path'])
x[x.Name != -1].drop(['file_path','text'], axis=0).sort_values(by='Name')

Name    ../data/input/resumes/LT CV.pdf
Name: file_path, dtype: object

                    Name
ExperienceLocation   217
EducationLocation   3720
SoftwareLocation    3891
SkillsLocation      3901

In [932]:
# count = 0
# for i in df.index[255:]:
#     if df.text.loc[i].find('PROFILE') != -1 :
#         if df.text.loc[i].find('\\nPROFILE\\n') != -1 :
#             pass
#         else:
#             print(i)

## Or looking at the aggregated df to see if it parsed correctly:

In [ ]:
# pd.set_option('max_colwidth', 100)

In [159]:
import pandas as pd
df1 = pd.read_csv('data/output/resume_summary.csv')
# df1.drop(['extension'], axis=1, inplace=True)

# import re
# def remove_stop_words(x):
#     x = str(x)
#     x = x.replace('___',' ')
#     x = x.replace('\n',' ')
#     x = x.replace('\r',' ')
#     x = x.replace('\t',' ')
#     x = x.replace('\s',' ')
#     x = x.replace('   ',' ')
#     return x

# # df1['text']=df1['text'].apply(remove_stop_words)
# df1['Language']=df1['Language'].apply(remove_stop_words)
# df1['Edu']=df1['Edu'].apply(remove_stop_words)
# df1['Work']=df1['Work'].apply(remove_stop_words)
# df1['Summaries']=df1['Summaries'].apply(remove_stop_words)
# df1['Skill']=df1['Skill'].apply(remove_stop_words)
# df1['Member']=df1['Member'].apply(remove_stop_words)
# df1['Writing']=df1['Writing'].apply(remove_stop_words)
# df1['Researching']=df1['Researching'].apply(remove_stop_words)
# df1['Honor']=df1['Honor'].apply(remove_stop_words)
# df1['Activity']=df1['Activity'].apply(remove_stop_words)
# df1['Curriculars']=df1['Curriculars'].apply(remove_stop_words)

In [161]:
for i in df1[df1.Edu == df1.Edu].index:
    if df1.Edu.loc[i].find('GPA') != -1:
        print(i)

3
4
11
15
18
21
25
34
44
83
90
92
94
106
110
117
164
191
209
211
217
236
238
253
254
263
265
298
307
311
324
327
329
344
345
346
347
350
356
357
376
413
415
416
421
424
429
441
442
443
445
485
507
512
613
623
639
662
663
667
671
690
691
740
741
757
764
770
773
780
787
799
805
806
808
814
816
819
820
823
832
843
844
847
848
851
857
858
859
861
866
868
884
888
894
917
948
950
951
987
1066

In [202]:
GPA_REGEX1 = r"GPA[ .:-]+[of ]{0,3}[01234]{1}\.[0-9]{1,3}"
GPA_REGEX2 = r"[01234]{1}\.[0-9]{1,3}[ .:-]+GPA"

i=357

print(df1.Edu.loc[i])
print('\n')
result = re.findall(re.compile(GPA_REGEX1), df1.Edu[i])
result += re.findall(re.compile(GPA_REGEX2), df1.Edu[i])
print(result)

EDUCATION\nMaster of Arts in Human Services, St.\nJoseph  University, Philadelphia, PA\n  Completed in two years with 4.0 GPA,\nwhile working full-time to support\nfamily.\n  Concentration in Social/Psychological\nServices including Organizational\nBehavior, Conflict Resolution,\nCounseling, Assessment, Leadership,\nSpecial Populations, Career\nDevelopment, and HR Law.\nBachelor of Science in Computer\nScience, Pace University, New York, NY\nHuman Resource Development\nInstructor Certification, The University\nof Missouri, Columbia, MS, 1997\n\nDirector of Career Services, The University of M issouri Former\nStudents  A ssociation, Columbia, MS, 1996 to 1999\n  Founded one of the country  first alumni career services,\nproviding more than 67,000 members with:\no Personality and interest assessments (MBTI, True\nColors), and individual career consulting.\no Monthly career workshops in Columbia, Aberdeen,\nLincoln, Carroll, and Clinton.\no Resource library, resume database service, and job-listings\nweb site.\no The Missouri Manage Career Network of 500+\nworldwide alumni advisors.\n  Established Columbia Campus Career Council, increasing\ncooperation and communication among more than a dozen\nuniversity career services.\n  Organized UM  first Real World 101 conference.\nDirector of Business Services, Career Connoisseurs, Columbia,\nMS, 1995 to 1996\n  Trained groups and coached individuals in career development,\nskill identification, resume writing, job-search strategies, and\ninterviewing skills.\n  Designed and implemented Career Exploration Program and\nCareer Direction Program, combining assessment, career\ncounseling, and search-skills training.\n\n


['4.0 GPA']

In [203]:
GPA_REGEX = r"[01234]{1}\.[0-4]{1,2}[ .:-]+GPA[ .:-]+[01234]{1}\.[0-4]{1,2}"

# result = re.findall(re.compile(GPA_REGEX), string_to_search)
# \t\r 

for i in df1[df1.Edu == df1.Edu].index:
    if df1.Edu.loc[i].find('GPA') != -1:
        result = re.findall(re.compile(GPA_REGEX1), df1.Edu.loc[i])
        result += re.findall(re.compile(GPA_REGEX2), df1.Edu.loc[i])
        
        x=df1.Edu.loc[i].find('GPA')
        print(df1.Edu.loc[i][x-6:x+20])
        print(result)

)
•  GPA: 4.0
•  Relevan
['GPA: 4.0', 'GPA: 3.5']
ent | GPA: 4.0

Humboldt
['GPA: 4.0']
s
  GPA: 3.8; magna cum
['GPA: 3.8']
erall GPA: 3.5

['GPA: 3.5']
ative GPA: 4.0 (on a 4.0 s
['GPA: 4.0']
erall GPA 3.082 / 4 Bachel
['GPA 3.082', 'GPA 3.48']
2017
GPA 3.175/4.0
Thesi
['GPA 3.175', 'GPA 3.478']
2018  GPA: 3.896

['GPA: 3.896', 'GPA: 3.69']
Major GPA: 4.0/4.0| Cumula
['GPA: 4.0', 'GPA: 3.96']
2004\nGPA:3.4\nRELEVANT
['GPA:3.4']
 3.95 GPA\n\n\n\nAwards: F
['3.95 GPA']
, 3.2 GPA
['3.2 GPA']
rrent GPA: 3.7)\nCompleted
['GPA: 3.7']
2015, GPA 3.79/4.00\nUnive
['GPA 3.79', 'GPA 3.82']
ative GPA of 4.0\n\nNew Yo
['GPA of 4.0', 'GPA of 3.75']
sign\nGPA: 3.6
['GPA: 3.6']
t\r \nGPA:\t\r 3.5\t\r out
[]
\n\n\nGPA: 3.8\nGraduation
['GPA: 3.8']
 USA\nGPA: 4.0/4.0\nB.Tech
['GPA: 4.0']
ative GPA: 3.75/4.00\nTECH
['GPA: 3.75']
20xx\nGPA to date: 3.95/4.
[]
4\n\nCGPA: 4.58/5.0\n\nRel
['GPA: 4.58']
\n3.2 GPA, IT GPA: 3.5\n S
['GPA: 3.5', '3.2 GPA']
\n3.7 GPA while working fu
['3.7 GPA', '3.4 GPA']
nCum. GPA: N/A\n\nBS\n\nC\
['GPA: 3.92', 'GPA: 3.94']
ence\nGPA: 3.7\nADDITIONAL
['GPA: 3.7']
ith a GPA of 3.6 on a 4.0
['GPA of 3.6']
tion\nGPA 4.0\n2042 Prelim
['GPA 4.0', 'GPA 4.0']
ith a GPA of 3.6 on a 4.0
['GPA of 3.6']
, SK (GPA: 81.2%)\nGrade 1
[]
nish, GPA 3.2\nUrsuline Co
['GPA 3.2']
, MD\nGPA 3.1\nEligible fo
['GPA 3.1']
ion - GPA 4.0\n\nWashingto
['GPA 4.0', 'GPA 3.8']
2011 (GPA: 3.8)\nHonors: N
['GPA: 3.8']
nior, GPA 3.41\nHigh Schoo
['GPA 3.41']
nces\nGPA: 3.78/4.0\n\nAnt
['GPA: 3.78']
clude GPA\nExpected Gradua
['GPA: 3.3']
gy\n\nGPA: 3.5\n\nTEACHING
['GPA: 3.5']
ith a GPA of 3.6 on a 4.0
['GPA of 3.6']
h 4.0 GPA,\nwhile working
['4.0 GPA']
2006\nGPA: 3.7\nActivities
['GPA: 3.7', 'GPA: 3.8', 'GPA: 3.6']
2012; GPA: 3.7
['GPA: 3.7']
tion\nGPA: 3.0, Dean  List
['GPA: 3.0']
2009\nGPA: 3.76\n2005-2009
['GPA: 3.76']
ative GPA: 3.1\nFinanced 8
['GPA: 3.1']
gram\nGPA: 3.0, Dean  List
['GPA: 3.0']
ation GPA: 3.57 / 4.00\nST
['GPA: 3.57']
ith a GPA of 3.6 on a 4.0
['GPA of 3.6']
 150\nGPA: 3.5 Dean  List:
['GPA: 3.5']
ith a GPA of 3.6 on a 4.0
['GPA of 3.6']
ance\nGPA: 3.15/4.00\n\nMa
['GPA: 3.15']
2014\nGPA: 3.2\n\nCOURSEWO
['GPA: 3.2']
 CA   GPA 4.0\nBachelor of
['GPA 4.0']
tion. GPA: 3.3.\nCoordinat
['GPA: 3.3']
tion) GPA: ./.\nHonors: cu
[]
ion,\nGPA 3.9\nMajor: Info
['GPA 3.9', 'GPA 4.0', 'GPA 4.0']
ative GPA: 3.5/4.0, Member
['GPA: 3.5']
am\n  GPA: 3.8\n  Dean  Li
['GPA: 3.8']
2021\nGPA: 4.109\n\nDIRECT
['GPA: 4.109']
Major GPA: 3.84/4.0, Overa
['GPA: 3.84', 'GPA: 3.6']
ics\n GPA: 3.5/4.0\n Honor
['GPA: 3.5']
51\n(CGPA Till 8th Sem)\n\
[]
tics\nGPA: 3.2\n\n
['GPA: 3.2']
ative GPA: 3.63\n\nMajor G
['GPA: 3.63']
ma\n  GPA of 3.87\nNORTH T
['GPA of 3.87']
tion, GPA: 3.72/4.00 08/20
['GPA: 3.72', 'GPA: 3.40', 'GPA: 3.90']
ance\nGPA: 3.6
['GPA: 3.6']
ions\nGPA 3.03/4.0\nExpect
['GPA 3.03']
2010\nGPA 3.6/4.0\n\n
['GPA 3.6']
, OH\nGPA 3.60\nB.S. in Di
['GPA 3.60']
xxxx (GPA: 4.0)\nExecutive
['GPA: 4.0']
f 4.0 GPA)\n\n
['4.0 GPA']
2011\nGPA 3.22/3.45\n\nAir
['GPA 3.22']
 and\nGPA. Coursework, aca
['GPA: 3.144']
ative GPA: 3.66/4.0\nMassa
['GPA: 3.66', 'GPA: 4.3']
int.\nGPA: Include it if y
[]
nt\t\nGPA: 4.6/5.0\n \x80R
['GPA: 4.6']
ative GPA: 3.96\nDean  Lis
['GPA: 3.96']
2014\nGPA 4.0/4.0\nCOURSEW
['GPA 4.0']
t\r \nGPA:\t\r 3.5\t\r \n\
['3.8 GPA']
exas\nGPA of 3.6 on a 4.0
['GPA of 3.6']
ring\nGPA: 3.2\n\nRELEVANT
['GPA: 3.2']
15\n\nGPA: 3.4\n\nConcentr
['GPA: 3.4', 'GPA: 3.05']
erall GPA: 3.20/4.0\n\nBes
['GPA: 3.20', 'GPA 3.82', 'GPA 3.75', 'GPA: 3.20']
ung\n GPA 3.55/4.00\n\n
['GPA 3.55']
, VA, GPA: 3.68\nBS Electr
['GPA: 3.68', 'GPA: 2.87', 'GPA: 3.45']
2017\nGPA: 3.7\n\nRelevant
['GPA: 3.7', 'GPA: 3.8']
ring\nGPA: 3.1/4.0, to be
['GPA: 3.1']
2010\nGPA: 3.2/3.7\nEarned
['GPA: 3.2']
erall GPA: 3.4/4.0\n\nRELE
['GPA: 3.4']
ring\nGPA: 3.1/4.0, to be
['GPA: 3.1']
ung\n GPA 3.55/4.00\n
['GPA 3.55']
(3.96 GPA)\n Academic focu
['3.96 GPA']
, NJ\nGPA 3.6, Dean  List,
['GPA 3.6']
ies\n GPA 3.0/4.0\n Dean
['GPA 3.0', 'GPA 2.8']
, NJ\nGPA 3.45, Dean  List
['GPA 3.45']
, ID\nGPA: 3.0, Graduation
['GPA: 3.0']
2013; GPA: 3.69/4.0. Study
['GPA: 3.69']
duate GPA - 3.67\nGraduate
['GPA - 3.67', 'GPA - 3.80']
te]\n GPA: [xx] / 4.0; SAT
[]
1999, GPA 3.88\nBS, Operat
['GPA 3.88', 'GPA 3.72']

In [ ]:
/4.0
out of 4
#.## gpa
gpa: #
GPA 3.0/4.0

EMAIL_REGEX = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"
PHONE_REGEX = r"\(?(\d{3})?\)?[\s\.-]{0,2}?(\d{3})[\s\.-]{0,2}(\d{4})"


GPA_REGEX = r"[01234]{1}+\.+[0-4]{1,2}+[ .:-]+GPA[ .:-]+[01234]{1}+\.+[0-4]{1,2}"

In [25]:
x = df1.iloc[35]
pd.DataFrame(x)

                                                                     35
file_path             ../data/input/resumes/Omar Resume 6.2019 wigg.pdf
text                  220 E. Illinois | Chicago, IL 60661 | 617-955-...
ProfessionalTraining                                                NaN
Language              LANGUAGES   Technical: R, Python, VBA, SQL, MS...
Edu                   EDUCATION  University of Chicago | Chicago, IL...
Work                   PROFESSIONAL EXPERIENCE    NIMBL, Techedge Gr...
Summaries                                                           nan
Skill                                                       SKILLS AND
Member                                                              nan
Writing                                                             nan
Researching            RESEARCH EXPERIENCE Kraft Heinz People Analyt...
Honor                                                               nan
Activity                                                            nan
Curriculars            CO-CURRICULARS  Photography: photography-omar...

In [26]:
df1

,file_path,text,ProfessionalTraining,Language,Edu,Work,Summaries,Skill,Member,Writing,Researching,Honor,Activity,Curriculars
0,../data/input/resumes/VolunteerResume_LK.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,NaN,nan,"EDUCATION & CERTIFICATIONS: Drake University, ...",CURRENT ROLE: Content Marketing Coordinator H...,T ME: After spending more than five years in ...,nan,nan,nan,nan,nan,"VOLUNTEER ROLES: Power Read Mentor, Everybody...",nan
1,../data/input/resumes/Gloria Cheng2018.pdf,\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n ...,NaN,"LANGUAGE SKILLS: Fluent in English, Mandarin ...",EDUCATION: Married ...,EXPERIENCE: Company: Armstrong Asset manage...,nan,COMPUTER SKILLS: • Proficient in Ms Offic...,nan,nan,nan,nan,nan,HOBBIES:
2,../data/input/resumes/UOB AM_Felyna Lee_Produc...,"Felyna Lee Hui Chay, CFA \nRNF Rep. No.: LHC30...",NaN,nan,EDUCATION Jun 2012 – Jun 2014 Chartered Fin...,EXPERIENCE Mar 2014 – Present UOB Asset Manag...,nan,SKILLS/OTHER INFORMATION  Successful sat f...,nan,nan,PROJECTS Regional Product and Sales Committee...,nan,nan,nan
3,../data/input/resumes/Echols_Resume_Sept19.pdf,"Matthew Echols \n\n1701 W Summerdale Ave, Chic...",NaN,nan,EDUCATION UNIVERSITY OF CHICAGO ...,WORK EXPERIENCE Northwestern University ...,OBJECTIVE Detail-oriented Analytics major (4....,"SKILLS Python (SciPi, Numpy, scikit-learn, Pa...",nan,nan,nan,nan,ADDITIONAL,nan
4,../data/input/resumes/LaurenEhrler_HSI.pdf,Lauren Ehrler \n\n664 33rd Street DSM IA \n563...,NaN,nan,"EDUCATION Drake University – Des Moines, IA –...",EXPERIENCE The Des Moines Register – Des Moine...,nan,PROFESSIONAL SKILLS  Quick learner with pro...,nan,nan,nan,nan,nan,nan
5,../data/input/resumes/Ivy Choo.pdf,"Choo Gui Yi, Ivy\t\n\n \n\nAddress: 38 Lorong ...",NaN,nan,Education Summary • Aug 2006 - Jun 2009 – Un...,Work History & Responsibilities 1. Company: ...,nan,Skills • English and Chinese (Written and Sp...,nan,nan,nan,nan,nan,nan
6,../data/input/resumes/Vickers Financial_Ryan T...,Ryan Tang \nCompliance Professional \nEmail: r...,NaN,LANGUAGES English Mandarin Chinese ...,EDUCATION University of London Bachelor of Sc...,EXPERIENCE Compliance Officer at Vickers Fina...,nan,"SKILLS Microsoft Word, Excel & Powerpoint ...",nan,nan,nan,nan,nan,nan
7,../data/input/resumes/Marin_Gow_Resume.pdf,MARIN K. GOW \n\n \n\n \n\nCONTACT INFORM...,NaN,nan,EDUCATION University of Chicago Master of Sci...,PROFESSIONAL EXPERIENCE West Monroe Partners ...,nan,"SKILLS Data engineering/ETL, data analysis, st...",nan,nan,nan,nan,COMMUNITY,INVOLVEMENT Chicago Python User Group (ChiPy) ...
8,../data/input/resumes/PWC_Penny Lim_Risk AM.pdf,\n \n \n\n \n\n \n\n PENNY LIM \n\...,NaN,LANGUAGES   Excellent in spoken and writte...,nan,WORK EXPERIENCE PricewaterhouseCoopers Risk ...,nan,SKILLS/,nan,nan,nan,AWARDS/,"Volunteer English Lesson Instructor  Plan, ...",CO-CURRICULAR ACHIEVEMENTS   
9,../data/input/resumes/Radhika Singh.pdf,"\n\n \n\nRadhika Singh \n\nBlk 241,Kim Keat L...",NaN,Languages: Part time Positions while purs...,nan,Professional Experience The Unity Group of C...,nan,Qualifications and Accreditations CPA candid...,nan,nan,nan,nan,nan,nan
10,../data/input/resumes/SGresume-1.pdf,"Sébastien Genty\n\n1209 Page St, Apt 7, San Fr...",NaN,Languages English French Spanish German,"Education Bucknell University – Lewisburg, PA...","Work Experience Project Director, Socratic Te...",nan,Skills Computer R Python SPSS Mathematica Mat...,nan,nan,Projects New Product Development • Computed...,nan,nan,"Interests Film and digital photography, phys..."
11,../data/input/resumes/Resume Updated 3.pdf,EDUCATION \n\nJENA MANILLA \n\n5714 S. Kenwood...,NaN,nan,EDUCATION JENA MANILLA 5714 S. Kenwood Ave. | ...,"EXPERIENCE Chicago, IL Jan 2019 - Present THE...",nan,nan,nan,nan,nan,nan,"ADDITIONAL  Proficient in R, Excel VBA, Tab...",nan
12,../data/input/resumes/rachel weeks resume.pdf,,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,,nan
13,../data/input/resumes/LT CV.pdf,PERSONAL PARTICULARS \nName: Lee Li Ting \nCo...,NaN,nan,EDUCATION Bachelor of Accountancy 1996 - Nany...,EXPERIENCE 2007 – Present EDBI Pte Ltd/ EDB ...,nan,"SKILLS MS Office: Word, Excel and PowerPoint ...",nan,nan,nan,nan,nan,nan
14,../data/input/resumes/john_smith.pdf,John Smith \n\n \n\n \n\n2222 McCoy Road  ...,NaN,nan,EDUCATION Bachelor of Business Administration ...,"WORK EXPERIENCE Kent State University, Kent, ...",OBJECTIVE Seeking a marketing internship with...,"COMPUTER SKILLS Microsoft Office: Word, Powe...",nan,nan,"Programs: Adobe Photoshop, Movie Maker Socia...",HONORS Summit County Alumni Association Schol...,"VOLUNTEER EXPERIENCE Relay for Life, Kent Sta...","CAMPUS INVOLVEMENT Member, Delta Sigma Pi M..."
15,../data/input/resumes/resume_Meyer.pdf,MONICA MEYER\n\n(415) · 497 · 7282 (cid:5) mon...,NaN,nan,EDUCATION Master of Science in Analytics Univ...,WORK EXPERIENCE Bank of America Dec 2013 - J...,nan,SKILLS Programming Protocols & APIs Databases...,nan,nan,COURSE PROJECTS Expected June 2015 July 201...,nan,nan,nan
16,../data/input/resumes/Loh Pei Shang.pdf,\n\nLoh Pei Shang \n\nAddress: Block 625 #27-...,NaN,nan,nan,Professional Experience: Phillip Capital Man...,nan,nan,nan,nan,nan,nan,nan,nan
17,../data/input/resumes/Vertex Venture_Ocvia Fre...,Ocvia Freriana\nSingapore\nCompliance professi...,NaN,nan,Education Nanyang Technological University Ba...,Experience Compliance Lead at Vertex Venture ...,nan,nan,nan,nan,nan,nan,nan,nan
18,../data/input/resumes/Eitrheim Resume.pdf,"ANN EITRHEIM, CFA \ncell: 952.412.8888 \nann.e...",NaN,nan,EDUCATION UNIVERSITY OF CHICAGO | March 202...,EXPERIENCE WEST MONROE PARTNERS Data Analyti...,nan,COMPUTER SKILLS & Programming languages: Py...,nan,nan,nan,nan,nan,nan
19,../data/input/resumes/Layla_Martin_Resume.pdf,Layla Martin\n\n2038 McAllister St\n\nSan Fran...,NaN,nan,EDUCATION AND AWARDS Master of Science in Ana...,nan,nan,"SKILLS Python, R, MySQL, PostgreSQL, Matlab, ...",nan,nan,PROJECTS Sentiment Analysis using Naive-Bayes...,nan,"LEADERSHIP President, Pi Mu Epsilon National ...",ATHLETICS NCAA Division I Women’s Soccer: USF...
20,../data/input/resumes/Vasanthi Kasinathan.pdf,1 \n\n \n\n \n\n \n\n \n\nT H E S E A R C H ...,NaN,LANGUAGE SKILLS,EDUCATION DETAILS • SINGAPORE ACCOUNTANTS A...,PROFESSIONAL EXPERIENCE PACIFIC STAR FINANCI...,nan,TECHNICAL SKILLS • PROFICIENT IN MICROSOFT...,nan,nan,nan,nan,nan,nan
21,../data/input/resumes/Xander_Erwina Lau_Financ...,\n \n \n\n \n \n\n \n \n\nEducation \n\...,NaN,nan,Education Experience Jan 2016 – Present La...,nan,nan,nan,nan,nan,nan,nan,nan,nan
22,../data/input/resumes/Resume_LK volunteer.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,NaN,nan,"EDUCATION & CERTIFICATIONS: Drake University, ...",CURRENT ROLE: Content Marketing Coordinator H...,T ME: After spending more than five years in ...,nan,nan,nan,nan,nan,"VOLUNTEER ROLES: Power Read Mentor, Everybody...",nan
23,../data/input/resumes/PWC_Wong Zhong Ming_Seni...,Curriculum Vitae \n\n \n\n \n \nNRIC No: S8929...,NaN,Language Skills 1. English : 2. Chinese ...,nan,nan,nan,Software Skills -National Youth...,nan,nan,nan,nan,nan,nan
24,../data/input/resumes/Luminance Fund_Saleem La...,LinkedIn: https://sg.linkedin.com/in/saleemlal...,NaN,nan,EDUCATION:  Chartered Institute of Manageme...,PROFESSIONAL EXPERIENCE: LUMINANCE FUND (Swi...,nan,nan,nan,nan,nan,nan,nan,nan
25,../data/input/resumes/resume nathan eitrheim.pdf,Nathan Eitrheim \nnathan.eitrheim@gmail.com \n...,NaN,nan,"Education Am Waeldchen 14 Hauptstuhl, 66851 ...",Work Experience Small business owner (part-t...,nan,"Computer Skills Fluent (CFD), SolidWorks (CA...",nan,nan,nan,nan,Volunteer Work Site co-lead for LyondellBase...,nan
26,../data/input/resumes/Hellier WOS CV.pdf,"Yvette M. Hellier, Pharm.D. \n\n724 40th Stree...",NaN,nan,EDUCATION Doctor of Pharmacy Drake Universit...,WORK EXPERIENCE May 2016 August 20...,nan,CERTIFICATIONS AND LICENSES Scholarship of Te...,PROFESSIONAL ORGANIZATIONS March 2018-...,PRESENTATIONS AND CREATED MATERIALS “Evaluat...,"RESEARCH Mitchell Y, Volpendesta J, Dray J....",AWARDS AND HONORS August 2010–May 2014 ...,COMMUNITY AND PROFESSIONAL OUTREACH Leadersh...,nan
27,../data/input/resumes/Michael Olson Resume.pdf,\n\nMichael Olson \n\n1440 Locust Street #30...,NaN,nan,Education IOWA STATE UNIVERSITY – A...,Professional Experience PROLIANT BIOL...,Objective To continue my academic ...,nan,nan,nan,nan,nan,nan,EXTRACURRICULAR / VOLUNTEER EXPERIENCES: ¨ ...
28,../data/input/resumes/SBirkholz CV.pdf,2015 - 2019 \n\n2014 – 2015 \n\n2010 – 2014 \n...,NaN,nan,EDUCATION Creighton University School of Medic...,PROFESSIONAL EXPERIENCE Obstetrics and Gyne...,nan,nan,PROFESSIONAL MEMBERSHIPS American Medical Wom...,PRESENTATIONS/ PUBLICATIONS Poster Presentat...,RESEARCH ACTIVITIES Tourniquet Trauma Resea...,AWARDS Medical Dean’s MAGIS Scholarship S...,COMMUNITY SERVICE Institute for Latin Americ...,"HOBBIES AND INTERESTS Running, Baking, Traveli..."
29,../data/input/resumes/Resume 6.pdf,\t\n \n\nANN\t\n K.\t\n EITRHEIM\t\n \n\nP...,NaN,nan,"EDUCATION Drake University, Des Moines,...",EXPERIENCE Summer Financial Analyst; June...,nan,"SKILLS • Microsoft Office Suite: Word, ...",nan,nan,nan,HONORS • Order of Omega – Top three ...,ACTIVITIES AND,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,../data/input/resumes/Kaggle_resume_dataset.csv,Aaron Laue\nTalent Unlimited\n4049 Pennsylvani...,NaN,nan,EDUCATION / TRAINING\nActor Training Studio\n\...,EXPERIENCE\nDirection Experience\n\nOther Expe...,nan,nan,nan,nan,nan,nan,nan,nan
1039,../data/input/resumes/Kaggle_resume_dataset.csv,"! ""\n$\n\n""\n%\n\n#\n\n&\n\n!\n\'\n\'& ( )\n\n...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,!,nan
1040,../data/input/resumes/Kaggle_resume_dataset.csv,MAGGIE BICKFORD\nProfessor of the History of A...,NaN,nan,EDUCATION\n1987\n1978\n1975\n1972-73\n1968/69\...,nan,nan,nan,nan,nan,nan,"FELLOWSHIPS, GRANTS\nBook Prizes\nJoseph Leven...",nan,nan
1041,../data/input/resumes/Kaggle_resume_dataset.csv,MARIAH FORD\nHeight: 5 4 \nStars Talent Studi...,NaN,nan,nan,nan,nan,"SKILLS & INTERESTS\nGreat at Improv, Performin...",nan,nan,nan,nan,nan,nan
1042,../data/input/resumes/Kaggle_resume_dataset.csv,Your Name\nPhone number\nEmail address\nHeight...,NaN,nan,EDUCATION\nUNIVERSITY OF ALASKA FAIRBANKS\nBAT...,nan,nan,"SKILLS\nImprovisation, Burp on Demand, Sports ...",nan,nan,nan,nan,nan,nan
1043,../data/input/resumes/Kaggle_resume_dataset.csv,Jarien Sky-Stutts Senior 3D Artist\n\ncontac...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,4,nan
1044,../data/input/resumes/Kaggle_resume_dataset.csv,RESUME\nDan Platt\n5134 Oakdale Ave.\nWoodland...,NaN,nan,"EDUCATION ]\n B.F.A. Major: Illustration, Min...",nan,nan,nan,nan,nan,nan,nan,nan,ACCOMPLISHMENTS - 1989/2004]\n\nDigital modeli...
1045,../data/input/resumes/Kaggle_resume_dataset.csv,"Jeff Wolverton, M.S., B.S.Cis.\nVisual FX Arti...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,m,nan
1046,../data/input/resumes/Kaggle_resume_dataset.csv,LETA LOU GRAY\t\n\r\n\n\t\n\r\n\n\t\n\r\n\n\t\...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,.,nan
1047,../data/input/resumes/Kaggle_resume_dataset.csv,Curriculum Vitae\nPersonal Details\n\nDarren L...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,T,nan
1048,../data/input/resumes/Kaggle_resume_dataset.csv,Your Name\n\nSchool Address\n123 Main Street\n...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,.,nan
1049,../data/input/resumes/Kaggle_resume_dataset.csv,Stacy Adams\nSAG/AFTRA\nHeight:\nWeight:\nHair...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,g,nan
1050,../data/input/resumes/Kaggle_resume_dataset.csv,PERFORMING ARTS RESUME\nContent\nA performer ...,NaN,nan,"EDUCATION\nSarah Lawrence College, Bronxville,...",EXPERIENCE\nShow\nRole\nDancing at Lughnasa\nR...,nan,"SKILLS\nProficient in Alexander Technique, Sta...",nan,nan,nan,"AWARDS\nInsert name of award, date received\nS...",nan,nan
1051,../data/input/resumes/Kaggle_resume_dataset.csv,ED WEISS\nTeaching Artist Resume\n\ne-mail: We...,NaN,nan,nan,EXPERIENCE\n2010 ClassroomInternshipatP.S.31Wi...,nan,nan,nan,nan,nan,nan,nan,nan
1052,../data/input/resumes/Kaggle_resume_dataset.csv,8/23/2016 sample resume for painter. accountin...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,5,nan
1053,../data/input/resumes/Kaggle_resume_dataset.csv,KELSEY PAINTER\nBlonde Hair/Brown Eyes | Alto ...,NaN,nan,EDUCATION & TRAINING:\n\n \n\nTowson U...,nan,nan,SKILLS:\n\n \n\nStage Combat\nContact ...,nan,nan,nan,nan,nan,nan
1054,../data/input/resumes/Kaggle_resume_dataset.csv,Wendy Robin\nProfessional Make-up Artist\n(702...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,2,nan
1055,../data/input/resumes/Kaggle_resume_dataset.csv,"Chet Bailey\n100 Desert Street\nDrytown, CA 95...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,0,nan
1056,../data/input/resumes/Kaggle_resume_dataset.csv,Chris Flight Attendant\n11223 East South Avenu...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,.,nan
1057,../data/input/resumes/Kaggle_resume_dataset.csv,Bilingual Flight Attendant Resume\n\nANGELICA ...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,T,nan
1058,../data/input/resumes/Kaggle_resume_dataset.csv,Flight Attendant Resumes\nFlight-Attendant-Car...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,,nan
1059,../data/input/resumes/Kaggle_resume_dataset.csv,Emirates Flight Attendant Resume Sample\n\nAnn...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,h,nan
1060,../data/input/resumes/Kaggle_resume_dataset.csv,Entry Level Flight Attendant Resume No Exper...,NaN,nan,"EDUCATION\nROLAND INSTITUTE OF HIGHER STUDIES,...","EXPERIENCE\nABC COMPANY, San Jose, CA Summer 2...",nan,nan,nan,nan,nan,nan,nan,nan
1061,../data/input/resumes/Kaggle_resume_dataset.csv,"CURRICULUM VITAE\nMay 11, 2004\n\nNAME\n\nRobe...",NaN,nan,"EDUCATION\n\nSt. Cornelius Elementary, Long Be...","EXPERIENCE\nLifeguard and Swimming Instructor,...",nan,TRAINING\nU.S. Navy Aviation Officer Candidate...,"ASSOCIATIONS\nFellow, Society of Experimental ...",PUBLICATIONS\n cThe First Space Shuttle to Mir...,nan,"AWARDS\nExperimental Aircraft Association ""Fre...",nan,nan
1062,../data/input/resumes/Kaggle_resume_dataset.csv,"JED REDD\n\n_\n003 Boudry Lane\nFriend, TX 775...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,t,nan
1063,../data/input/resumes/Kaggle_resume_dataset.csv,"Lauren B. Pires\nMiami, Florida & New York Cit...",NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,3,nan
1064,../data/input/resumes/Kaggle_resume_dataset.csv,Free Flight Attendant Resume\nDarlene Flint\n8...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,C,nan
1065,../data/input/resumes/Kaggle_resume_dataset.csv,Corporate Flight Attendant Resume\nCAITLIN FLA...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,T,nan
1066,../data/input/resumes/Kaggle_resume_dataset.csv,"MAJOR CONRAD A. PREEDOM\n2354 Fairchild Dr., S...",NaN,nan,"EDUCATION\nMBA, Business Administration & Mana...","EXPERIENCE\nAssistant Professor of Management,...",nan,"CERTIFICATIONS\nCertified Flight Instructor, F...",nan,nan,nan,"AWARDS\nField Grade Officer of the Quarter, Di...",nan,nan
1067,../data/input/resumes/Kaggle_resume_dataset.csv,STACY SAMPLE\n\n702 800-0000 cell\n\n0000@emai...,NaN,nan,nan,nan,nan,nan,nan,nan,nan,nan,s,nan

In [36]:
x.text

'220 E. Illinois | Chicago, IL 60661 | 617-955-7304 | oalshaye@uchicago.edu \n\nOmar ALShaye \n\n \n\nEDUCATION \n\n \n\nUniversity of Chicago | Chicago, IL                                                                                            Expected Winter 2020 \nMaster of Science in Analytics, Data Science \n\n▪  Coursework: Statistical Analysis, Machine Learning, Optimization, Deep Learning, Data Mining, \n\nBusiness Applications, Data Engineering Platforms, Non-Linear Models, Big Data, Time Series \n\n \nRensselaer Polytechnic Institute | Troy, NY                                                                                              May 2018 \nDual Bachelors of Science in Industrial Management Engineering – Economics                   \n\n▪  Honors: Cum Laude, Rensselaer Founders Award of Excellence, Ray Palmer Baker Prize for Excellence in \n\nSystems Engineering, Alpha Pi Mu Honors Society Certificate of Excellence in Industrial Engineering  \n\n \n\n \nPROFESSIONAL EXPERIENCE \n\n \n\n \n\n \n\nNIMBL, Techedge Group | Chicago, IL                                                                            June 2019 – September 2019 \nData Intelligence Practice – Junior Consultant \n\n▪  Provided predictive analytics solutions for Fortune 500 CPG and Automotive clients; utilizing machine learning, \n\ndeep learning (computer vision), operations research, and statistical modeling techniques on R and Python  \n\n▪  Built visual dashboards for performance management and resource/financial planning on SAP Analytics Cloud \n▪ \nInvestigated a new SAP Analytics Cloud client solution that integrates R based predictive modeling capabilities  \n\n \n\nAbbott Laboratories (contract by Hiregenics) | Lake Forest, IL                                                         May 2017 – August 2017 \nSupply Chain Operations Intern  \n\n▪  Built VBA algorithm to optimize box utilization (N-P problem); reduced average chargeable shipment cost by        \n\n29.9%, increased box utilization by 12.1%, reduced average shipment volume by 297.4 inch3 \n▪  Performed trend analysis for top tier customers to quantify benefits of order consolidation  \n▪  Simulated packing area using Arena; recommendation reduced packing time by 2.8 minutes per unit \n▪  Studied outbound dock using pallet density hourly data; proposed dock composite performance index \n\n \n\n \n\nRESEARCH EXPERIENCE \n\nKraft Heinz People Analytics | Chicago, IL                                                                                 March 2019 – Present \nCapstone Project: In and Out Analysis \n\n▪  Designed a supervised machine learning model to predict employee churn date and likely destination \n▪  Built a supervised machine learning model to predict probability of recruitment success for a given candidate \n\nShared Vehicle Routing | Troy, NY                                                                                      May 2017 – August 2017 \nResearcher for Professor Jennifer Pazour’s OnRout team  \n\n▪  Performed shared vehicle routing analysis for startup company OnRout to analyze duplicate effort by couriers \n▪  Suggested optimal level of courier sharing; hypothetical optimal level of sharing increased stops/mile by 28%, \n\ndecreased total distance travelled by couriers by 19% \n\n▪  Built simulation TSP model for different couriers operating in a common location \n\n \n\nTelevision Manufacturing Innovation | Troy, NY                                                           January 2016 – August 2017 \nResearcher for Professor Kenneth Simons  \n\n▪  Code industry-wide model for television receiver manufacturing processes and innovations. Observed 259 \n\nmanufacturing innovations/processes from 1941 to 1971 \nIdentify target innovation characteristics yielding maximum economic efficiencies \n\n▪ \n▪  Analyze discrepancies and compare results using Excel, Stata, and R \n\n \n\n \n\nSKILLS AND LANGUAGES \n\n \n\n \n\nTechnical: R, Python, VBA, SQL, MS Office, Tableau, Arena, Julia, SAP, Keras, TensorFlow, Stata, Hadoop, Spark, Neo4j \nLanguages: English (fluent), Arabic (fluent)  \n\n \n\n \n\nCO-CURRICULARS \nPhotography: photography-omaralshaye.com; President of UChicago and RPI Photography; Supervised 112 members \nAlpha Pi Mu Honor Society: Promote Outreach to I.E Community; President of Rensselaer Chapter 2016-2018 \n\n \n\n \n\n \n\n\x0c'

# Cleaning up Kaggle data

In [63]:
# kaggle = pd.read_csv('~/PycharmProjects/Resume-Parser/data/input/resumes/Kaggle_resume_dataset.csv', usecols=[0, 1, 2])

In [116]:
# kaggle.to_csv('~/PycharmProjects/Resume-Parser/data/input/resumes/Kaggle_resume_dataset.csv', index=False)

In [126]:
import os
os.path.getsize('data/input/resumes/Kaggle_resume_dataset.csv')

5171348

In [855]:
# pd.set_option('max_colwidth', 100)

In [120]:
import random
kaggle.text[random.randint(0, len(kaggle))]

'Stacy Adams\nSAG/AFTRA\nHeight:\nWeight:\nHair:\nEyes:\n\n5\\\'6"\n115 lbs.\nBlonde\nGreen\n\nActingland Talent Co.\n1234 Street Rd.\nLos Angeles, CA 90210\nTel: 310-555-1234\n\nFilm (Partial List)\nFlight of the Eagle\nFreedom\nClouds Outside the City\nBrain Dead\nSki & Skate\nThe Magic Lantern\n\nSupporting\nCo-Star\nLead\nFeatured\nFeatured\nLead\n\nFilm Productions, LLC.\nMoving Images\nMoving Images\nFreeform Art Co.\nFilm Productions, LLC.\nMagic Lantern, LLC\n\nTelevision\nSad Clowns\nPuddle Jumpers (Pilot)\nCar Wash\n\nGuest Star\nPrincipal\nSeries Regular\n\nLiberty Television\nAGP Media, LLC.\nInside-Up Prods.\n\nAegeon\nEdmund\nDuncan\n\nTheater Under the Stars\nSt. Mary\\\'s High School\nSt. Mary\\\'s High School\n\nStage Performance\nMethod Acting\n\nAnn Arbor, MI\nLos Angeles, CA\n\nTheater\nThe Comedy of Errors\nKing Lear\nThe Tragedy of Macbeth\n\nCommercials\nList available upon request\n\nTraining\nMichigan School of Arts\nKim Bevel\n\nSpecials Skills\nSurfing, Volleyball, Basketball, Baseball, Hockey, Golf, Swimming, Water Skiing, Snow Skiing,\nRollerblading, Juggling, Motor Cross, Knife Throwing, Drag Racing'

In [121]:
for i in kaggle.index:
    if kaggle.text.loc[i].find('PROFESSIONAL ACTIVITIES') != -1:
        print(i)

341
350
360
410
438
445
621
802

In [115]:
counts = 0
for i in kaggle.index:
    if kaggle.text.loc[i].lower().find('\\xa8') != -1:
        kaggle.text.loc[i] = kaggle.text.loc[i].replace('\\xa8', '')
        counts = counts + 1
print(counts)

20

In [88]:
# kaggle.drop(830, axis=0, inplace=True)

In [ ]:
# kaggle = kaggle.reset_index(drop=True)