In [623]:
import pandas as pd
df = pd.read_csv('data/output/resume_summary.csv')
df.columns

Index(['index', 'file_path', 'extension', 'text', 'Language', 'Work',
       'Summaries', 'Skill', 'Member', 'Writing', 'Researching', 'Honor',
       'Activity', 'candidate_name', 'email', 'phone', 'GPA', 'greeklife',
       'certifications', 'latin_honors', 'top_10_universities',
       'top_100_universities', 'other_universities', 'major_minor',
       'associate_education_level', 'bachelor_education_level',
       'master_education_level', 'doctor_education_level', 'courses',
       'languages', 'Education', 'Extracurriculars'],
      dtype='object')

In [609]:
df = df[['Education','latin_honors','top_10_universities','top_100_universities', 'other_universities',
         'associate_education_level', 'bachelor_education_level', 'master_education_level', 
         'doctor_education_level']]

In [610]:
# i = 19

In [624]:
df.iloc[i]

index                                                                       28
file_path                                   ../data/input/resumes/Resume 6.pdf
extension                                                                 .pdf
text                         \t\n  \n\nANN\t\n  K.\t\n  EITRHEIM\t\n  \n\nP...
Language                                                                   NaN
Work                         EXPERIENCE\t\n  \nSummer\t\n  Financial\t\n  A...
Summaries                                                                  NaN
Skill                        SKILLS\t\n  \n\n•  Microsoft\t\n  Office\t\n  ...
Member                                                                     NaN
Writing                                                                    NaN
Researching                                                                NaN
Honor                        HONORS\t\n  \n\n•  Order\t\n  of\t\n  Omega\t\...
Activity                                             ACTIVITIES\t\n  AND\t\n
candidate_name                                                       NOT FOUND
email                                                   ann.eitrheim@drake.edu
phone                                                   ('952', '412', '8888')
GPA                                                                         []
greeklife                                                       {'fraternity'}
certifications                                 {'Chartered Financial Analyst'}
latin_honors                                                               NaN
top_10_universities                                                        NaN
top_100_universities                                                       NaN
other_universities                                                         NaN
major_minor                            {'Economics', 'Accountancy', 'Finance'}
associate_education_level                                                  NaN
bachelor_education_level                                                   NaN
master_education_level                                                     NaN
doctor_education_level                                                     NaN
courses                                                                    NaN
languages                                                                  NaN
Education                    EDUCATION\t\n  \t\n  \nDrake\t\n  University,\...
Extracurriculars                                                           NaN
Name: 28, dtype: object

In [622]:
df.Education[i].replace('\n',' ').replace('\xa0','').replace('\t','')

'EDUCATION     Drake  University,  Des  Moines,  IA               •      BSBA  Accounting  and  Finance  majors,  Economics  minor   2014  Level  I  Candidate  in  the  CFA  Program  (Sitting  for  on  December  6th,  2014)   '

In [619]:
i = i+1

In [618]:
i

27

In [96]:
# for i in df.Member[df.Member == df.Member]:
#     print(re.sub(' +',' ',i.replace('\\n','. ').replace('\n','. ')))
#     print('\n')

In [60]:
# import re
# import spacy
# nlp = spacy.load('en_core_web_sm')

In [98]:
# for num in range(0,60):
#     try:
#         input_string = re.sub('[;-]', ',',df.Summaries[num].replace('\n',' '))
#         input_string = re.sub('[_]', ' ',input_string)
#         input_string = re.sub(' +', ' ',input_string)
#         print('\n')
#         print(input_string)
#         doc = nlp(input_string) 
#         doc_entities = doc.ents 
#         for i in doc_entities:
#         #     if i.label_ == 'PERSON':
#             print(i, '   ', i.label_)
#     except:
#         pass

In [578]:
university_list = set()
for i in df.index:
    if df.Member[i] == df.Member[i]:

        doc = nlp(str(df.Edu[i]).replace('\\n', '. ').replace('\n', '. '))
        doc_entities = doc.ents
        doc_persons = filter(lambda x: x.label_ == 'ORG', doc_entities)
        doc_persons = filter(lambda x: len(x.text.strip().split()) >= 2, doc_persons)
        doc_persons = map(lambda x: x.text.strip(), doc_persons)
        doc_persons = list(doc_persons)
        for j in doc_persons:
            university_list.add(j)

In [579]:
import numpy as np
x = np.array(list(university_list))
x = pd.DataFrame(np.sort(x))

In [97]:
# x

https://spacy.io/api/annotation#named-entities
TYPE	DESCRIPTION
PERSON	People, including fictional.
NORP	Nationalities or religious or political groups.
FAC	Buildings, airports, highways, bridges, etc.
ORG	Companies, agencies, institutions, etc.
GPE	Countries, cities, states.
LOC	Non-GPE locations, mountain ranges, bodies of water.
PRODUCT	Objects, vehicles, foods, etc. (Not services.)
EVENT	Named hurricanes, battles, wars, sports events, etc.
WORK_OF_ART	Titles of books, songs, etc.
LAW	Named documents made into laws.
LANGUAGE	Any named language.
DATE	Absolute or relative dates or periods.
TIME	Times smaller than a day.
PERCENT	Percentage, including ”%“.
MONEY	Monetary values, including unit.
QUANTITY	Measurements, as of weight or distance.
ORDINAL	“first”, “second”, etc.
CARDINAL	Numerals that do not fall under another type.

## To look at sections of the YAML file:

In [1]:
# import yaml

# with open('/Users/anneitrheim/PycharmProjects/Capstone/confs/config.yaml', 'r') as stream:
#     try:
#         data_loaded = yaml.safe_load(stream)
#     except yaml.YAMLError as exc:
#         print(exc)

In [3]:
# import pandas as pd
# df = pd.DataFrame()
# for i in data_loaded['extractors']['universities']:
#     if type(i) == list:
#         df = df.append(pd.Series(i), ignore_index=True)
#     else:
#         df = df.append(pd.Series(i), ignore_index=True)

In [19]:
# df.columns = ['one', 'two', 'three']
# df.head(6)

## For word2vec on the resumes we have in our repo:

In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/output/resume_summary.csv')
df.drop(['extension'], axis=1, inplace=True)

In [5]:
import nltk
# nltk.download()
from gensim.models import Word2Vec
import multiprocessing
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
import sys
import re

In [11]:
stop_words = set(stopwords.words('english'))
   
def remove_stop_words(x):
    try:
  
        x = x.replace('___',' ')
        x = x.replace('\n',' ')
        x = x.replace('\r',' ')
        x = x.replace('\t',' ')
        x = x.replace('\s',' ')

        x = re.sub('[^A-Za-z ]+', '', x)
        
        word_tokens = word_tokenize(x)
        filtered_sentence = [w for w in word_tokens if not w in stop_words]
        return ' '.join(filtered_sentence)
    except:
        print(x.values)
        sys.exit(1)

In [12]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
resumes=df['text'].apply(remove_stop_words)
# store as list of lists of words
resumes_ted = []
for sent_str in resumes:
    tokens = re.sub(r"[^a-z0-9]+", " ", sent_str.lower()).split()
    resumes_ted.append(tokens)

In [18]:
EMB_DIM=300
w2v=Word2Vec(resumes_ted, #the list of split resumes
             size=EMB_DIM, #the dimensionality of the embedding vector
             window=5, #Maximum distance between the current and predicted word within a sentence
             min_count=3, #Ignores all words with total frequency lower than this (to keep only valid real words)
             negative=15, #Negative sampling will be used, the int for negative specifies how many “noise words” should be drawn (usually between 5-20)
             iter=20, #Number of iterations (epochs) over the corpus
             workers=multiprocessing.cpu_count()) #number of threads being used
vectors=w2v.wv

In [92]:
vectors.most_similar(positive=['university'])

NameError: name 'vectors' is not defined

## Looking to see if it parsed correctly:

In [ ]:
# pd.set_option('max_colwidth', 100)

In [159]:
import pandas as pd
df1 = pd.read_csv('data/output/resume_summary.csv')
# df1.drop(['extension'], axis=1, inplace=True)

# import re
# def remove_stop_words(x):
#     x = str(x)
#     x = x.replace('___',' ')
#     x = x.replace('\n',' ')
#     x = x.replace('\r',' ')
#     x = x.replace('\t',' ')
#     x = x.replace('\s',' ')
#     x = x.replace('   ',' ')
#     return x

# # df1['text']=df1['text'].apply(remove_stop_words)
# df1['Language']=df1['Language'].apply(remove_stop_words)
# df1['Edu']=df1['Edu'].apply(remove_stop_words)
# df1['Work']=df1['Work'].apply(remove_stop_words)
# df1['Summaries']=df1['Summaries'].apply(remove_stop_words)
# df1['Skill']=df1['Skill'].apply(remove_stop_words)
# df1['Member']=df1['Member'].apply(remove_stop_words)
# df1['Writing']=df1['Writing'].apply(remove_stop_words)
# df1['Researching']=df1['Researching'].apply(remove_stop_words)
# df1['Honor']=df1['Honor'].apply(remove_stop_words)
# df1['Activity']=df1['Activity'].apply(remove_stop_words)
# df1['Curriculars']=df1['Curriculars'].apply(remove_stop_words)

In [25]:
x = df1.iloc[35]
pd.DataFrame(x)

                                                                     35
file_path             ../data/input/resumes/Omar Resume 6.2019 wigg.pdf
text                  220 E. Illinois | Chicago, IL 60661 | 617-955-...
ProfessionalTraining                                                NaN
Language              LANGUAGES   Technical: R, Python, VBA, SQL, MS...
Edu                   EDUCATION  University of Chicago | Chicago, IL...
Work                   PROFESSIONAL EXPERIENCE    NIMBL, Techedge Gr...
Summaries                                                           nan
Skill                                                       SKILLS AND
Member                                                              nan
Writing                                                             nan
Researching            RESEARCH EXPERIENCE Kraft Heinz People Analyt...
Honor                                                               nan
Activity                                                            nan
Curriculars            CO-CURRICULARS  Photography: photography-omar...

In [36]:
x.text

'220 E. Illinois | Chicago, IL 60661 | 617-955-7304 | oalshaye@uchicago.edu \n\nOmar ALShaye \n\n \n\nEDUCATION \n\n \n\nUniversity of Chicago | Chicago, IL                                                                                            Expected Winter 2020 \nMaster of Science in Analytics, Data Science \n\n▪  Coursework: Statistical Analysis, Machine Learning, Optimization, Deep Learning, Data Mining, \n\nBusiness Applications, Data Engineering Platforms, Non-Linear Models, Big Data, Time Series \n\n \nRensselaer Polytechnic Institute | Troy, NY                                                                                              May 2018 \nDual Bachelors of Science in Industrial Management Engineering – Economics                   \n\n▪  Honors: Cum Laude, Rensselaer Founders Award of Excellence, Ray Palmer Baker Prize for Excellence in \n\nSystems Engineering, Alpha Pi Mu Honors Society Certificate of Excellence in Industrial Engineering  \n\n \n\n \nPROFESSIONAL EXPERIENCE \n\n \n\n \n\n \n\nNIMBL, Techedge Group | Chicago, IL                                                                            June 2019 – September 2019 \nData Intelligence Practice – Junior Consultant \n\n▪  Provided predictive analytics solutions for Fortune 500 CPG and Automotive clients; utilizing machine learning, \n\ndeep learning (computer vision), operations research, and statistical modeling techniques on R and Python  \n\n▪  Built visual dashboards for performance management and resource/financial planning on SAP Analytics Cloud \n▪ \nInvestigated a new SAP Analytics Cloud client solution that integrates R based predictive modeling capabilities  \n\n \n\nAbbott Laboratories (contract by Hiregenics) | Lake Forest, IL                                                         May 2017 – August 2017 \nSupply Chain Operations Intern  \n\n▪  Built VBA algorithm to optimize box utilization (N-P problem); reduced average chargeable shipment cost by        \n\n29.9%, increased box utilization by 12.1%, reduced average shipment volume by 297.4 inch3 \n▪  Performed trend analysis for top tier customers to quantify benefits of order consolidation  \n▪  Simulated packing area using Arena; recommendation reduced packing time by 2.8 minutes per unit \n▪  Studied outbound dock using pallet density hourly data; proposed dock composite performance index \n\n \n\n \n\nRESEARCH EXPERIENCE \n\nKraft Heinz People Analytics | Chicago, IL                                                                                 March 2019 – Present \nCapstone Project: In and Out Analysis \n\n▪  Designed a supervised machine learning model to predict employee churn date and likely destination \n▪  Built a supervised machine learning model to predict probability of recruitment success for a given candidate \n\nShared Vehicle Routing | Troy, NY                                                                                      May 2017 – August 2017 \nResearcher for Professor Jennifer Pazour’s OnRout team  \n\n▪  Performed shared vehicle routing analysis for startup company OnRout to analyze duplicate effort by couriers \n▪  Suggested optimal level of courier sharing; hypothetical optimal level of sharing increased stops/mile by 28%, \n\ndecreased total distance travelled by couriers by 19% \n\n▪  Built simulation TSP model for different couriers operating in a common location \n\n \n\nTelevision Manufacturing Innovation | Troy, NY                                                           January 2016 – August 2017 \nResearcher for Professor Kenneth Simons  \n\n▪  Code industry-wide model for television receiver manufacturing processes and innovations. Observed 259 \n\nmanufacturing innovations/processes from 1941 to 1971 \nIdentify target innovation characteristics yielding maximum economic efficiencies \n\n▪ \n▪  Analyze discrepancies and compare results using Excel, Stata, and R \n\n \n\n \n\nSKILLS AND LANGUAGES \n\n \n\n \n\nTechnical: R, Python, VBA, SQL, MS Office, Tableau, Arena, Julia, SAP, Keras, TensorFlow, Stata, Hadoop, Spark, Neo4j \nLanguages: English (fluent), Arabic (fluent)  \n\n \n\n \n\nCO-CURRICULARS \nPhotography: photography-omaralshaye.com; President of UChicago and RPI Photography; Supervised 112 members \nAlpha Pi Mu Honor Society: Promote Outreach to I.E Community; President of Rensselaer Chapter 2016-2018 \n\n \n\n \n\n \n\n\x0c'

# Cleaning up Kaggle data

In [63]:
# kaggle = pd.read_csv('~/PycharmProjects/Resume-Parser/data/input/resumes/Kaggle_resume_dataset.csv', usecols=[0, 1, 2])

In [116]:
# kaggle.to_csv('~/PycharmProjects/Resume-Parser/data/input/resumes/Kaggle_resume_dataset.csv', index=False)

In [207]:
import os
os.path.getsize('data/input/resumes/Kaggle_resume_dataset.csv')

5171348

In [855]:
# pd.set_option('max_colwidth', 100)

In [206]:
# import random
# kaggle.text[random.randint(0, len(kaggle))]

In [204]:
# for i in kaggle.index:
#     if kaggle.text.loc[i].find('PROFESSIONAL ACTIVITIES') != -1:
#         print(i)

In [205]:
# counts = 0
# for i in kaggle.index:
#     if kaggle.text.loc[i].lower().find('\\xa8') != -1:
#         kaggle.text.loc[i] = kaggle.text.loc[i].replace('\\xa8', '')
#         counts = counts + 1
# print(counts)

In [88]:
# kaggle.drop(830, axis=0, inplace=True)

In [ ]:
# kaggle = kaggle.reset_index(drop=True)