In [1]:
# import yaml

# with open('/Users/anneitrheim/PycharmProjects/Capstone/confs/config.yaml', 'r') as stream:
#     try:
#         data_loaded = yaml.safe_load(stream)
#     except yaml.YAMLError as exc:
#         print(exc)

In [3]:
# import pandas as pd
# df = pd.DataFrame()
# for i in data_loaded['extractors']['universities']:
#     if type(i) == list:
#         df = df.append(pd.Series(i), ignore_index=True)
#     else:
#         df = df.append(pd.Series(i), ignore_index=True)

In [19]:
# df.columns = ['one', 'two', 'three']
# df.head(6)

In [ ]:
# if its true for any of these, add a tag and the index number
#see if it will print more than one number...
#what if they have two things in one section?

In [389]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/output/resume_summary.csv')
df.drop(['extension', 'index'], axis=1, inplace=True)

for i in df.index:
    df.file_path[i] = df.file_path[i][30:]

In [299]:
import nltk
# nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [300]:
from gensim.models import Word2Vec
import multiprocessing
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
import sys

In [301]:
stop_words = set(stopwords.words('english'))
import re
   
def remove_stop_words(x):
    stop_words = set(['is', 'the', 'and', 'or', 'a', 'an','can', 'there'])
    try:
        x = x.lower()
        x = re.sub('[^A-Za-z ]+', '', x)
        word_tokens = word_tokenize(x)
        filtered_sentence = [w for w in word_tokens if not w in stop_words]
        return ' '.join(filtered_sentence)
    except:
        print(x.values)
        sys.exit(1)

In [302]:
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
resumes=df['text'].apply(remove_stop_words)
# store as list of lists of words
resumes_ted = []
for sent_str in resumes:
    tokens = re.sub(r"[^a-z0-9]+", " ", sent_str.lower()).split()
    resumes_ted.append(tokens)

In [304]:
EMB_DIM=300
w2v=Word2Vec(resumes_ted, #the list of split resumes
             size=EMB_DIM, #the dimensionality of the embedding vector
             window=5, #the number of context words you are looking at
             min_count=3, #ignore words with total count less than this number
             negative=15,
             iter=10,
             workers=multiprocessing.cpu_count()) #number of threads being used
vectors=w2v.wv

In [305]:
vectors.most_similar(positive=['chicago'])

[('il', 0.999954104423523),
 ('education', 0.999935507774353),
 ('analytics', 0.9999252557754517),
 ('experience', 0.9999238848686218),
 ('may', 0.9999234676361084),
 ('school', 0.999923050403595),
 ('science', 0.9999224543571472),
 ('gpa', 0.9999203085899353),
 ('illinois', 0.9999197721481323),
 ('expected', 0.999918520450592)]

In [444]:
import pandas as pd
import numpy as np

# df = pd.read_csv('data/output/resume_summary.csv')
df = pd.read_csv('data/output/resume_parsed.csv')
df.drop(['extension'], axis=1, inplace=True)

for i in df.index:
    df.file_path[i] = df.file_path[i][30:]

df

/Users/anneitrheim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,file_path,text,EducationLocation,AcademicLocation,ProfessionalHistoryLocation,ProfessionalExperienceLocation,ProfessionalBackgroundLocation,EmploymentHistoryLocation,WorkExperienceLocation,CareerHistoryLocation,...,AffiliationsLocation,InterestsLocation,HobbiesLocation,ActivitiesLocation,AthleticInvolvementLocation,CivicActivitiesLocation,CollegeActivitiesLocation,LeadershipLocation,InvolvementLocation,AccomplishmentsLocation
0,VolunteerResume_LK.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,1396,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,Echols_Resume_Sept19.pdf,"Matthew Echols \n\n1701 W Summerdale Ave, Chic...",493,-1,-1,-1,-1,-1,1254,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,LaurenEhrler_HSI.pdf,Lauren Ehrler \n\n664 33rd Street DSM IA \n563...,79,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,Marin_Gow_Resume.pdf,MARIN K. GOW \n\n \n\n \n\nCONTACT INFORM...,106,-1,-1,258,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,SGresume-1.pdf,"Sébastien Genty\n\n1209 Page St, Apt 7, San Fr...",2304,-1,-1,-1,-1,-1,91,-1,...,-1,2636,-1,-1,-1,-1,-1,-1,-1,-1
5,Resume Updated 3.pdf,EDUCATION \n\nJENA MANILLA \n\n5714 S. Kenwood...,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6,rachel weeks resume.pdf,,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7,john_smith.pdf,John Smith \n\n \n\n \n\n2222 McCoy Road  ...,292,-1,-1,-1,-1,-1,724,-1,...,-1,-1,-1,-1,-1,-1,-1,2087,-1,-1
8,resume_Meyer.pdf,MONICA MEYER\n\n(415) · 497 · 7282 (cid:5) mon...,66,-1,-1,-1,-1,-1,708,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
9,Eitrheim Resume.pdf,"ANN EITRHEIM, CFA \ncell: 952.412.8888 \nann.e...",65,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10,Layla_Martin_Resume.pdf,Layla Martin\n\n2038 McAllister St\n\nSan Fran...,99,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,1514,-1,-1
11,Resume_LK volunteer.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,1396,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
12,resume nathan eitrheim.pdf,Nathan Eitrheim \nnathan.eitrheim@gmail.com \n...,64,-1,-1,-1,-1,-1,858,-1,...,-1,-1,-1,2108,-1,-1,-1,-1,-1,-1
13,Hellier WOS CV.pdf,"Yvette M. Hellier, Pharm.D. \n\n724 40th Stree...",123,-1,-1,-1,-1,-1,1159,-1,...,-1,-1,-1,15936,-1,-1,-1,18635,-1,-1
14,Michael Olson Resume.pdf,\n\nMichael Olson \n\n1440 Locust Street #30...,2081,-1,-1,299,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
15,SBirkholz CV.pdf,2015 - 2019 \n\n2014 – 2015 \n\n2010 – 2014 \n...,313,-1,-1,676,-1,-1,-1,-1,...,-1,-1,16768,5344,-1,-1,-1,6932,-1,-1
16,Resume 6.pdf,\t\n \n\nANN\t\n K.\t\n EITRHEIM\t\n \n\nP...,356,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,3536,-1,-1,-1,-1,-1,-1
17,Klose Legal Resume 2.pdf,"Shelby Klose \n\n123 N. Desplaines Street, Apt...",116,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,292,-1,-1,-1,-1,-1,-1
18,Kyle Parochetti Resume.pdf,"Kyle Parochetti\n\n1100 W Montrose Ave, Chicag...",2155,-1,-1,-1,-1,-1,92,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
19,Caitline Byrd.pdf,Caitlin R.W. Byrd \n\ncrwbyrd@mmm.com \n\n____...,6508,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
20,Omar Resume 6.2019 wigg.pdf,"220 E. Illinois | Chicago, IL 60661 | 617-955-...",94,-1,-1,956,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
21,Brendan_Herger_Resume.pdf,Brendan Herger\n\nHergertarian.com | 13herger@...,949,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
22,Michael_Liu_Resume_2019.pdf,"900 N Lake Shore Drive, Chicago, IL | (708)510...",89,-1,-1,1430,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
23,2012 Travis Byrd's Resume.pdf,"3141 South 67th Street West \n\nBillings, MT ...",118,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
24,Catherine Crisp_Resume_2019-08-12.pdf,CATHERINE CRISP \n\nLEED AP O+M \n\n800 S Well...,157,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,4246,-1,-1
25,EmilioMantilla_Resume.pdf,"220 E Illinois St., Chicago, IL 60611 │ (314...",113,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,1228,-1,-1

In [400]:
df['Education'] = np.repeat('',len(df))
df['Work'] = np.repeat('',len(df))
df['Summary'] = np.repeat('',len(df))
df['Technical'] = np.repeat('',len(df))
df['Research'] = np.repeat('',len(df))
df['Activity'] = np.repeat('',len(df))

In [420]:
col_list = ['EducationLocation', 'WorkLocation','SummaryLocation', 'TechnicalLocation', 
            'ResearchLocation','ActivityLocation']

for num in df.index:
    print(num)
    x = df[col_list].iloc[num].sort_values()
    for i in range(0,len(x)):
        try:
            df[x.index[i][:-8]].iloc[num] = df.text.iloc[num][x.iloc[i]:x.iloc[i+1]]
        except IndexError:
            df[x.index[i][:-8]].iloc[num] = df.text.iloc[num][x.iloc[i]:]

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

In [422]:
df.iloc[0]

file_path                                       VolunteerResume_LK.pdf
text                 Lauren Kollauf\n\nContent Creator & Nonprofit ...
EducationLocation                                                 1396
WorkLocation                                                       913
SummaryLocation                                                     70
TechnicalLocation                                                  358
ResearchLocation                                                    -1
ActivityLocation                                                    -1
Education            \nEDUCATION & CERTIFICATIONS:\nDrake Universit...
Work                 \nPREVIOUS ROLES:\nDigital Producer, The Des M...
Summary              ABOUT ME:\nAfter spending more than five years...
Technical            \nskills while supporting my personal passions...
Research
Activity
Name: 0, dtype: object

In [367]:
df.text[0][0:70]

'Lauren Kollauf\n\nContent Creator & Nonprofit Storyteller\n\nA LITTLE BIT '

the part in the beginning..?

In [174]:
def preprocess_text(df):
    # This function preprocesses the text by filling not a number and replacing new lines ('\n') and carriage returns ('\r')
    df.text = df.text.fillna(' ')
    df.text = df.text.str.replace('\n',' ')
    df.text = df.text.str.replace('\r',' ')
    return df

In [175]:
preprocess_text(df)

,file_path,text
0,VolunteerResume_LK.pdf,Lauren Kollauf Content Creator & Nonprofit St...
1,LaurenEhrler_HSI.pdf,Lauren Ehrler 664 33rd Street DSM IA 563-49...
2,Marin_Gow_Resume.pdf,MARIN K. GOW CONTACT INFORMATION:...
3,SGresume-1.pdf,"Sébastien Genty 1209 Page St, Apt 7, San Fran..."
4,Resume Updated 3.pdf,EDUCATION JENA MANILLA 5714 S. Kenwood Ave...
5,rachel weeks resume.pdf,
6,john_smith.pdf,John Smith 2222 McCoy Road  Colum...
7,resume_Meyer.pdf,MONICA MEYER (415) · 497 · 7282 (cid:5) monic...
8,Eitrheim Resume.pdf,"ANN EITRHEIM, CFA cell: 952.412.8888 ann.eit..."
9,Layla_Martin_Resume.pdf,Layla Martin 2038 McAllister St San Francisc...
10,Resume_LK volunteer.pdf,Lauren Kollauf Content Creator & Nonprofit St...
11,resume nathan eitrheim.pdf,Nathan Eitrheim nathan.eitrheim@gmail.com (+...
12,Hellier WOS CV.pdf,"Yvette M. Hellier, Pharm.D. 724 40th Street,..."
13,Michael Olson Resume.pdf,Michael Olson 1440 Locust Street #308 u ...
14,SBirkholz CV.pdf,2015 - 2019 2014 – 2015 2010 – 2014 Summ...
15,Resume 6.pdf,\t ANN\t K.\t EITRHEIM\t Permanent...
16,Klose Legal Resume 2.pdf,"Shelby Klose 123 N. Desplaines Street, Apt. ..."
17,Kyle Parochetti Resume.pdf,"Kyle Parochetti 1100 W Montrose Ave, Chicago,..."
18,Caitline Byrd.pdf,Caitlin R.W. Byrd crwbyrd@mmm.com ________...
19,Omar Resume 6.2019 wigg.pdf,"220 E. Illinois | Chicago, IL 60661 | 617-955-..."
20,Brendan_Herger_Resume.pdf,Brendan Herger Hergertarian.com | 13herger@gm...
21,2012 Travis Byrd's Resume.pdf,"3141 South 67th Street West Billings, MT 59..."
22,Catherine Crisp_Resume_2019-08-12.pdf,CATHERINE CRISP LEED AP O+M 800 S Wells St...
23,EmilioMantilla_Resume.pdf,"220 E Illinois St., Chicago, IL 60611 │ (314..."

In [176]:
df.text.iloc[9]

'Layla Martin  2038 McAllister St  San Francisco, CA 94118  layla.d.martin@gmail.com (520) 271-2492  EDUCATION AND AWARDS  Master of Science in Analytics University of San Francisco, San Francisco, CA  Bachelor of Science in Mathematics, Cum Laude University of San Francisco Dean’s Honor Role (4 years) University Scholar, USF’s highest academic scholarship (4 years)  Expected June 2015  May 2014  SELECTED PROJECTS  Sentiment Analysis using Naive-Bayes  Graduate • Classiﬁed movie reviews as positive or negative with 75% accuracy by implementing a  Naive-Bayes algorithm in Python.  NBA Play-By-Play Data Cleaning  Summer research with USF Faculty • Cleaned play-by-play data for every NBA game from 2006 to 2012 using Pandas (Python).  Analysis of USF Men’s Basketball Statistics using R  Undergraduate • Predicted importance of players on the court using simple and multiple linear regression  and created visualizations of player statistics using R.  Explaining Artiﬁcial Neural Networks (ANN)  Undergraduate • Prepared two student lectures teaching classmates basic implementation and theory behind • Preprocessed ﬁngerprint images as matrices in Matlab and performed pattern classiﬁcation  supervised learning, backpropagation, and pattern recognition with ANN.  using an ANN program.  Mathematical Modeling Research  Undergraduate  • Performed image compression with SVD implemented in Matlab. • Ranked West Coast Conference Men’s Basketball teams using multiple centrality ranking  algorithms in Matlab.  LEADERSHIP  President, Pi Mu Epsilon National Math Honor Society Captain, USF Women’s Soccer Teacher’s Assistant, USF Astronomy Observations  2014 2013-2014 2013-2014  SKILLS  Python, R, MySQL, PostgreSQL, Matlab, LaTeX, JMP  INTER- COLLEGIATE ATHLETICS  NCAA Division I Women’s Soccer: USF, 2010-2014  • Athletic scholarship (full scholarship when combined with University Scholarship). • Committed 30 hours per week to training, meetings, travel, competition.  \x0c'