In [5]:
import pandas as pd
import numpy as np

# df = pd.read_csv('data/output/resume_summary.csv')
df = pd.read_csv('data/output/resume_parsed.csv')
df.drop(['extension'], axis=1, inplace=True)

for i in df.index:
    df.file_path[i] = df.file_path[i][30:]

/Users/anneitrheim/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [6]:
df1

,file_path,text,EducationLocation,AcademicLocation,CourseWorkLocation,CoursesLocation,RelatedCourseLocation,ProfessionalHistoryLocation,ProfessionalBackgroundLocation,EmploymentHistoryLocation,...,ActivitiesLocation,AthleticInvolvementLocation,CivicActivitiesLocation,CollegeActivitiesLocation,LeadershipLocation,InvolvementLocation,CampusInvolvementLocation,AccomplishmentsLocation,AchievementsLocation,AdditionalLocation
0,VolunteerResume_LK.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,1397,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,Gloria Cheng2018.pdf,\n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n \n\n ...,205,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,Echols_Resume_Sept19.pdf,"Matthew Echols \n\n1701 W Summerdale Ave, Chic...",494,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2626
3,LaurenEhrler_HSI.pdf,Lauren Ehrler \n\n664 33rd Street DSM IA \n563...,80,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,Marin_Gow_Resume.pdf,MARIN K. GOW \n\n \n\n \n\nCONTACT INFORM...,107,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,1868,-1,-1,-1,-1
5,SGresume-1.pdf,"Sébastien Genty\n\n1209 Page St, Apt 7, San Fr...",2304,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
6,Resume Updated 3.pdf,EDUCATION \n\nJENA MANILLA \n\n5714 S. Kenwood...,0,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,2852
7,rachel weeks resume.pdf,,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
8,john_smith.pdf,John Smith \n\n \n\n \n\n2222 McCoy Road  ...,293,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,2088,2613,2605,-1,-1,-1
9,resume_Meyer.pdf,MONICA MEYER\n\n(415) · 497 · 7282 (cid:5) mon...,67,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10,Eitrheim Resume.pdf,"ANN EITRHEIM, CFA \ncell: 952.412.8888 \nann.e...",66,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
11,Layla_Martin_Resume.pdf,Layla Martin\n\n2038 McAllister St\n\nSan Fran...,100,-1,-1,-1,-1,-1,-1,-1,...,-1,1759,-1,-1,1515,-1,-1,-1,-1,-1
12,Vasanthi Kasinathan.pdf,1 \n\n \n\n \n\n \n\n \n\nT H E S E A R C H ...,367,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
13,Resume_LK volunteer.pdf,Lauren Kollauf\n\nContent Creator & Nonprofit ...,1397,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
14,resume nathan eitrheim.pdf,Nathan Eitrheim \nnathan.eitrheim@gmail.com \n...,64,-1,-1,-1,-1,-1,-1,-1,...,3070,-1,-1,-1,-1,-1,-1,-1,-1,-1
15,Hellier WOS CV.pdf,"Yvette M. Hellier, Pharm.D. \n\n724 40th Stree...",124,-1,-1,-1,-1,-1,-1,-1,...,15937,-1,-1,-1,17644,-1,-1,-1,-1,-1
16,Michael Olson Resume.pdf,\n\nMichael Olson \n\n1440 Locust Street #30...,2081,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
17,SBirkholz CV.pdf,2015 - 2019 \n\n2014 – 2015 \n\n2010 – 2014 \n...,314,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,6933,-1,-1,-1,-1,-1
18,Resume 6.pdf,\t\n \n\nANN\t\n K.\t\n EITRHEIM\t\n \n\nP...,357,-1,-1,-1,-1,-1,-1,-1,...,3537,-1,-1,-1,-1,-1,-1,-1,-1,-1
19,Klose Legal Resume 2.pdf,"Shelby Klose \n\n123 N. Desplaines Street, Apt...",117,-1,-1,-1,-1,-1,-1,-1,...,293,-1,-1,-1,-1,-1,-1,-1,-1,-1
20,Kyle Parochetti Resume.pdf,"Kyle Parochetti\n\n1100 W Montrose Ave, Chicag...",2156,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
21,Caitline Byrd.pdf,Caitlin R.W. Byrd \n\ncrwbyrd@mmm.com \n\n____...,6508,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
22,Omar Resume 6.2019 wigg.pdf,"220 E. Illinois | Chicago, IL 60661 | 617-955-...",95,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
23,Brendan_Herger_Resume.pdf,Brendan Herger\n\nHergertarian.com | 13herger@...,949,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
24,Michael_Liu_Resume_2019.pdf,"900 N Lake Shore Drive, Chicago, IL | (708)510...",90,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
25,Trisa Tay.pdf,"TRISA TAY, C...",13991,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
26,2012 Travis Byrd's Resume.pdf,"3141 South 67th Street West \n\nBillings, MT ...",118,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
27,Catherine Crisp_Resume_2019-08-12.pdf,CATHERINE CRISP \n\nLEED AP O+M \n\n800 S Well...,158,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,4247,4262,-1,-1,-1,-1
28,EmilioMantilla_Resume.pdf,"220 E Illinois St., Chicago, IL 60611 │ (314...",114,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,1229,-1,-1,-1,-1,-1

In [427]:
x = pd.DataFrame(df.loc[5])
x.columns = ['Name']
print(x.loc['file_path'])
x[x.Name != -1].drop(['file_path','text'], axis=0).sort_values(by='Name')

Name    Resume Updated 3.pdf
Name: file_path, dtype: object

                    Name
EducationLocation      0
ExperienceLocation   911
AdditionalLocation  2852

In [428]:
df.text.loc[5][2852:]

'\nADDITIONAL \n\n\uf0b7  Proficient in R, Excel VBA, Tableau, Power BI; basic proficiency in Python, Stata, Spanish \n\uf0b7  Convinced two of my college friends to hike 500mi with me from France to Portugal; it took us a month \n\uf0b7  Avid podcast listener (anything politics-related); bad but enthusiastic skier; lover of spicy foods (cuisine agnostic) \n\n\x0c'

In [359]:
# pd.set_option('max_colwidth', 100)

In [429]:
df1 = pd.read_csv('data/output/resume_sections.csv')
df1.drop(['extension'], axis=1, inplace=True)

for i in df1.index:
    df1.file_path[i] = df1.file_path[30:]
    for j in ['text', 'Language', 'Edu', 'Work', 'Summaries', 'Skill', 'Member', 'Writing',
              'Researching', 'Honor', 'Activity', 'Curriculars']:

        df1[j].loc[i] = str(df1[j].loc[i]).replace('\n',' ')

In [446]:
x = df1.iloc[14]
pd.DataFrame(x)

                                                                                                              14
file_path                                                             Series([], Name: file_path, dtype: object)
text            Michael Olson    1440 Locust Street #308 u Des Moines, IA  50309 u michaelolson515@gmail.com ...
Language                                                                                                     nan
Edu           Education  ___________________________________________________________________________    IOWA ...
Work          Professional Experience  _______________________________________________________________    PRO...
Summaries     Objective   ___________________________________________________________________________    To c...
Skill                                                                                                        nan
Member                                                                                                       nan
Writing                                                                                                      nan
Researching                                                                                                  nan
Honor                                                                                                        nan
Activity                                                                                                     nan
Curriculars   EXTRACURRICULAR / VOLUNTEER EXPERIENCES:    ¨  The National Society of Leadership and Success  ...

In [445]:
x.Activity

'COMMUNITY AND PROFESSIONAL OUTREACH       Leadership and Membership in Team-Based Healthcare: small group facilitator                                       January 2017   Oath of a Pharmacist Workshop: small group facilitator                                                                           September 2016    UCDMC Outreach Health Fair: volunteer                                                                                                            July 2016    Goal Ball: volunteer athlete                                                                                                             January 2013–May 2014    Wesley Acres: volunteer         ACTIVITIES      “Difficult Times in Precepting: Navigating Challenging Situations”   §  CHSP West Coast Preceptor Conference  §  Challenging situation script development      SPLICE Initiative Simulation Development            §  California Simulation Alliance, Betty Irene Moor School of Nursing   §  Simulation development       “Gamification of Pharmacy Learning”      §  Sacramento Region Conference, University of the Pacific   §  Co-facilitated “game-based” learning sessions                                           September 2016                        September 2016                                June 2018                                May 2017                          October 2016                     April 2014                       March 2013                                  January 2018   December 2017   September 2016      LEADERSHIP DEVELOPMENT            Lambda Kappa Sigma: Hope WaLKS T-shirt Committee Head and New Member Educator      August 2014- May 2015     College of Pharmacy and Health Sciences:  Honor Code Committee Member                       August 2014–May 2016  Delta Gamma Fraternity: Vice President Social Standards                                                  January 2013–December 2014    Delta Gamma Fraternity: Honor Board Sophomore Member                                              January 2012–December 2013    Alpha Mu Gamma: Vice President, President                                                                             August 2011–August 2013    Student Leadership Development Series: Member                                                                 September 2012–April 2013    Don Adams Leadership Institute: Member                                                                             September 2011–April 2012      '